{% load crispy_forms_tags %} 
<div class="tab-pane show active" id="lands">
    <form class="form-horizontal" id="form_propertyLand" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="form-group row">
            {% for field in property_form %}
                <div class="col-md-6 mb-2">
                    {{ field|as_crispy_field }}
                </div>
            {% endfor %}
            {% for field in propertyland_form %}
                <div class="col-md-6 mb-2">
                    {{ field|as_crispy_field }}
                </div>
            {% endfor %}
            
            <div class="col-lg-12">
                <br>
                <button type="submit" class="btn btn-primary btn-lg waves-effect waves-light"><i class="fa fa-spinner fa-spin fa-custom-ajax-indicator d-none"></i>submit</button>
            </div>
        </div>
    </form>
</div>
<div class="tab-pane" id="appartment">
    <form class="form-horizontal" id="form_propertyLand" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="form-group row">
            {% for field in property_form %}
            <div class="col-6 mb-2">
                <p class="m-0">{{ field.label }}*</p>
                {{ field }}
            </div>
            {% endfor %}
            {% for field in propertyhouse_form %}
                <div class="col-md-6 mb-2">
                    {{ field|as_crispy_field }}
                </div>
            {% endfor %}
                <!-- <div class="col-lg-12">
                    <select class="form-control select2" data-toggle="select2">
                        <option>Select</option>
                        <option value="AK">Alaska</option>
                        <option value="HI">Hawaii</option>
                    </select>
                </div> -->
            <div class="col-lg-12">
                <br>
                <button type="submit" class="btn btn-primary btn-lg waves-effect waves-light"><i class="fa fa-spinner fa-spin fa-custom-ajax-indicator d-none"></i>submit</button>
            </div>
        </div>
    </form>
</div>



<div class="tab-pane show" id="house">
    <form class="form-horizontal" id="">
        {% csrf_token %}
        <input type="hidden" name="asset_type" value="LD">
        <div class="form-group row">
            {% for field in property_form %}
                <div class="col-6 mb-2">
                    <p class="m-0">{{ field.label }}*</p>
                    {{ field }}
                </div>
            {% endfor %}
            <div id="red" class="colors" style="display:none"> .... </div>
<div id="sale" class="colors" style="display:none"> sale </div>
<div id="rent" class="colors" style="display:none">
    <label for="">rent period</label>
<input type="text" name="period" >
</div>

{{ propertyland_form }}
            <div class="col-lg-12">
                <br>
                <button type="submit" class="btn btn-primary btn-lg waves-effect waves-light"><i class="fa fa-spinner fa-spin fa-custom-ajax-indicator d-none"></i>submit</button>
            </div>
        </div>
    </form>
</div>