@media (max-width: 1600px) {
    
}

@media (max-width: 1366px) {
    
}

@media (max-width: 1200px) {
    header .container {
        max-width: 1170px;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        overflow: auto;
        position: fixed;
        top: 0;
        right: 0;
        width: 360px;
        height: 100%;
        background-color: #fff;
        z-index: 99999;
        padding: 70px 30px;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }

    .navbar-collapse.show {
        opacity: 1;
        visibility: visible;
    }
    .navbar-expand-lg .navbar-nav {
        -webkit-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    #navbarSupportedContent .navbar-nav {
        margin-bottom: 35px;
    }
    .close-menu,
    .menu-button {
        display: block;
    }
    .main__header .navbar-nav .nav-item,
    header .navbar-nav .nav-item {
        margin: 0;
    }
    header .navbar-nav .nav-item .nav-link {
        border-bottom: 1px solid #dfe0e5;
        padding: 15px 0 14px 0;
    }
    .main__header .navbar-nav .nav-item .dropdown-menu ,
    header .navbar-nav .nav-item .dropdown-menu {
        overflow: initial;
        box-shadow: none;
        right: 0;
        margin-right: 0;
        padding-right: 0;
        position: static;
        border: 0;
    }
    .main__header .dropdown-toggle::after ,
    header .dropdown-toggle::after {
        position: absolute;
        left: auto;
        right: 10px;
        top: 18px;
    }
    .banner-carousel .slick-slide .banner-slide, .banner-carousel .slick-slide>div:not(.banner_text), .banner-slide>img{
        min-height: 100% !important;
    }
    .home-widget-search.card{
        box-shadow: unset !important;
        border-radius: 0 !important;
    }
    .home-widget-search form .row{
        flex-direction: column;
    }

    .home-widget-search .btn-search ,
    .home-widget-search #div_id_title ,
    .home-widget-search #div_id_brand ,
    .home-widget-search #div_id_price__max,
    .home-widget-search #div_id_category,
    .home-widget-search #div_id_price__min {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        border:0;
        margin-bottom: 10px;
    }
    .home-widget-search .btn-search {
        margin: 0 18px 10px;
    }
   
    .home-widget-search select, 
    .home-widget-search input{
        border: 1px solid  #dfe0e5 !important;
        border-radius: 50px !important;
    }
    .home-widget-search #div_id_title input {
        border-radius: 50px !important;
    }

    .banner-carousel{
        height:auto;
    }
    
    .border-col{
        border: unset;
    }
    
}

@media (max-width: 745px) {
    
    .home-banner-section{
        padding: 1.5rem .5rem;
    }
    .banner-slide{
        padding: 3rem 4rem;
    }
}

@media (max-width: 576px) {
    .top__header{
        display: none !important;
    }
    main .form__wrapper,
    .popular-listing{
        padding: 2rem 1rem;
    }
    .form__content{
        padding: 20px;
    }
    
    
    .banner-slide{
        padding: 2rem 4rem;
    }
    .home-banner-section h3{
        font-size: 20px;
    }
    .bannertitle{
        padding: 1rem;
    }
    .bannertitle h1{
        font-size: 25px;
    }
    .banner_text_container{
        padding: 0 2rem;
    }
    .banner-carousel .slick-prev, .banner-carousel .slick-next{
        width: 30px;
        background-color: var(--colorPrimary);
        height: 30px;
        line-height: 30px;
        text-align: center;
        outline: none;
        outline-width: 0;
    }
    .banner-carousel .slick-prev:before, .banner-carousel .slick-next:before{
        color: var(--white);
        font-size: 20px;
        outline: none;
        outline-width: 0;
    }

    .navbar-light .navbar-brand img {
        width: 160px;
    }
    .pannel__headtitle h2{
        font-size: 18px;
    }

     .subscription h1{
        font-size: 20px !important;
    }
    
}

@media (max-width: 400px) {
    
}


@media (min-width: 1200px){
.container {
    max-width: 1170px;
    padding: 0;
}