<section class="bottom section-padding">
    <div class="container placeholder-container">
        <div class="row">
            <div id="widget-logo-social-1" class="widget footer-regular widget-logo-social block-selio col-xl-3 col-sm-6 col-md-4"><div class="bottom-logo">
                <a href="{% url 'core:index' %}">
                    <img src="#" alt="Sandvet Logo" class="img-fluid">
                </a>                
                <div class="content">       
                    <p class="description">
                        Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat co nsequat auctor eu in elit.</p>  
                    </div> 
                </div>
            </div>
            <div id="widget-footer-contacts-1" class="widget footer-regular widget-footer-contacts block-selio col-xl-3 col-sm-6 col-md-3">
                <div class="widget-footer-contacts">
                    <h3>Contact Us</h3>
                    <ul class="footer-list">                
                        <li><i class="fa fa-map-marker"></i> <span class="value">Accra, Ghana</span></li>
                        <li><i class="fa fa-phone"></i> <span class="value"><a href="tel://+233507321204">+233507321204</a></span></li>
                        <li><i class="fa fa-phone"></i> <span class="value"><a href="tel://+233554748768">+2335547487683</a></span></li>
                        <li><i class="fa fa-envelope"></i> <span class="value"><a href="mailto:support@sandvet.com">support@sandvet.com</a></span></li>

                        <li><i class="fa fa-chevron-circle-right"></i><span class="value"><a href="#">Contact Us</a></span></li>
                    </ul>
                </div>
            </div>
            <div id="widget-footer-contacts-1" class="widget footer-regular widget-footer-contacts block-selio col-xl-3 col-sm-6 col-md-3">
                <div class="widget-footer-contacts">
                    <h3>Contact Us</h3>
                    <ul class="footer-list">                
                        <li><i class="fa fa-map-marker"></i> <span class="value">Accra, Ghana</span></li>
                        <li><i class="fa fa-phone"></i> <span class="value"><a href="tel:(844)%20380-8603">(844) 380-8603</a></span></li>
                        <li><i class="fa fa-envelope"></i> <span class="value"><a href="mailto:support@sandvet.com">support@sandvet.com</a></span></li>

                        <li><i class="fa fa-chevron-circle-right"></i><span class="value"><a href="#">Contact Us</a></span></li>
                    </ul>
                </div>
            </div>
            <div id="widget-follow-us-1" class="widget footer-regular widget-follow-us block-selio col-xl-3 col-sm-12 col-md-5">
                <div class="bottom-list widget-follow-us">
                    <h3>Follow Us</h3>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="footer-content">
                    <div class="row justify-content-between">
                        <div class="col-xl-12">
                            <div class="copyright text-center">
                                <p><a href="tel://+233557566646">&copy; Sandvet, All Rights Reserved.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>