{% load crispy_forms_tags %} 
<section class="subscription">
    <div class="container">
        <div class="row t">
            <div class="col-12">
                <h1 class="mb-3 text-center  text-white">Get Property Alerts from Us</h1>
                <form class="col-lg-6 mx-auto">
                    <div class="text-fields">
                        <input type="email" name="subscript-email" id="subscript-email" required class="form-control">
                        <button class="btn" id="subscript-btn"> subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="bottom__section">
    <div class="container placeholder-container">
        <div class="row">
            <div id="widget-logo-social-1" class="widget footer-regular widget-logo-social block-selio col-xl-3 col-sm-6 col-md-4">
                <div class="widget-footer-contacts">
                    <h3>For rent</h3>
                    <ul class="footer-list">
                        <li><span class="value"><a href="{% url 'property:for-sale' %}">Property for sale</a></span></li>
                        {% for cate in category_list_nav %}
                        <li><span class="value"><a href="#">{{cate.title}} for rent</a></span></li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
            <div id="widget-logo-social-1" class="widget footer-regular widget-logo-social block-selio col-xl-3 col-sm-6 col-md-4">
                <div class="widget-footer-contacts">
                    <h3>For Sale</h3>
                    <ul class="footer-list">
                        <li><span class="value"><a href="{% url 'property:for-sale' %}">Property for sale</a></span></li>
                        {% for cate in category_list %}
                        <li><span class="value"><a href="#">{{cate.title}} for sale</a></span></li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
            <div id="widget-footer-contacts-1" class="widget footer-regular widget-footer-contacts block-selio col-xl-3 col-sm-6 col-md-3">
                <div class="widget-footer-contacts">
                    <h3>Contact Us</h3>
                    <ul class="footer-list">                
                        <li><i class="fa fa-map-marker"></i> <span class="value">Accra, Ghana</span></li>
                        <li><i class="fa fa-phone"></i> <span class="value"><a href="tel:(844)%20380-8603">(844) 380-8603</a></span></li>
                        <li><i class="fa fa-envelope"></i> <span class="value"><a href="mailto:support@sandvet.com">support@sandvet.com</a></span></li>

                        <li><i class="fa fa-chevron-circle-right"></i><span class="value"><a href="#">Contact Us</a></span></li>
                    </ul>
                </div>
            </div>
            <div id="widget-follow-us-1" class="widget footer-regular widget-follow-us block-selio col-xl-3 col-sm-12 col-md-5">
                <div class="bottom-list widget-follow-us">
                    <h3>Follow Us</h3>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="footer-content">
                    <div class="row justify-content-between">
                        <div class="col-xl-12">
                            <div class="copyright text-center">
                                <p><a href="tel://+233557566646">&copy; Sandvet, All Rights Reserved.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

  <!-- Modal -->
  <div class="modal fade subscriptModal" id="subscriptionModal" tabindex="-1" aria-labelledby="subscriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="subscriptionModalLabel">Propert Alerts</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body form_subscription row">
            <div class="col-12 mb-2">
                <p>
                    Be the first to know about the best property deals in Ghana!
                </p>
            </div>
            <form action="" method="POST" class="col-12" id="subForm">
            <div id="signup_error"></div>
            <div class="row">
                {% csrf_token %} 
                {{subscription_form|crispy}}
            </div>
            <button type="submit"class="btn btn-primary col-12">Alert Me</button>
            </form>
            </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade completeSubscriptModal" id="completeSubscriptionModal" tabindex="-1" aria-labelledby="completeSubscriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="completeSubscriptionModalLabel">Thank your for subscribing</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>You will receive an update when this type of property becomes available.
                </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="col-12 btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


