{% load static %}
<header>
    <div class="top__header">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-6 col-md-7 col-sm-12">
                    <div class="header__address">
                    <a href="tel://+233507321204">
                        <i class="fa fa-phone"></i>
                        <span>+233507321204</span>
                    <a>                                   
                    <!-- <a href="tel://+233554748768">
                        <i class="fa fa-phone"></i>
                        <span>+233554748768</span>
                    <a>  -->
                    <a href="#">
                        <i class="fa fa-map-marker"></i>
                        <span>University of Ghana, East Legon - Accra, Ghana</span>
                    </a>
                    </div>
                </div>
                <div class="col-xl-3 col-md-5 col-sm-12">
                    <div class="header__social">
                        {% if request.user.is_authenticated %}
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.first_name}}<span class="caret"></span></a>
                            <ul class="dropdown-menu animated">
                                <li class=""><a href="#" class="dropdown-item">Dashboard</a></li>
                                <li class=""><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                            </ul> 
                        {% else %}           
                        <a href="{% url 'account_login' %}">Login</i></a>              
                        <a href="{% url 'account_signup' %}">New Customer?</i></a>   
                        {% endif %}     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main__header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand m-0" href="{% url 'core:index' %}">
                        <img src="{% static 'img/core/logo.png' %}" alt="Sandvet Logo" class="img-fluid">
                    </a>
                    <button class="menu-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                        <span class="icon-spar"></span>
                        <span class="icon-spar"></span>
                        <span class="icon-spar"></span>
                    </button>
        
                    <div class="navbar-collapse" id="navbarSupportedContent">
                        <div id="top-menu" class="d-inline my-2 my-lg-0 ml-auto">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown active">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cars<span class="caret"></span></a>
                                    <ul class="dropdown-menu animated">
                                        <li class="active"><a href="#" class="dropdown-item">White Menu with Center Search</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">For Rent<span class="caret"></span></a>
                                    <ul class="dropdown-menu animated">
                                        <li class="active"><a href="{% url 'property:for-rent' %}" class="dropdown-item">For  Rent</a></li>
                                        {% for cate in category_list_nav %}
                                            <li><a href="{{ cate.get_for_rent_category_url }}" class="dropdown-item"> {{cate.title}} for rent</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="nav-item dropdown ">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">For Sale<span class="caret"></span></a>
                                    <ul class="dropdown-menu animated">
                                        <li class="active"><a href="{% url 'property:for-sale' %}" class="dropdown-item">For Sale</a></li>
                                        <li class="active"><a href="http://127.0.0.1:8000/ctg/land/" class="dropdown-item">Land for Sale</a></li>
                                        {% for cate in category_list_nav %}
                                            <li><a href="{{ cate.get_for_sale_category_url }}" class="dropdown-item"> {{cate.title}} for sale</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Real Estates</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'property:property' %}" class="nav-link">Property</a>
                                </li>
                                <li class="nav-item">
                                    <a href="http://127.0.0.1:8000/ctg/land/" class="nav-link ">Land</a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" title="" class="close-menu"><i class="fa fa-close"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
  </header>