{% load crispy_forms_tags %} 
<div class="container">
    <div class="row">
        <div class=" col-lg-12">
            <div class="widget-property-search card mt-3">
                <form action="{% url 'property:search' %}" class="">
                    <div class="row">
                        {{ filter.form|crispy }}
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary ">search</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="listing-directs py-3">   
                <div class="col-12">
                    <div class="">
                        <div class="row align-items-center justify-content-between panel__cardhead">
                            <div class="sortby">
                                <span>Sort by:</span>
                                <select class="select">
                                    <option value="">Relevant</option>
                                    <option value="">Oldest</option>
                                    <option value="">Most Viewed</option>
                                    <option value="">Higher price</option>
                                    <option value="">Lower price</option>
                                </select>
                            </div><!--sortby end-->
                            <div class="view-change">
                                <ul class="nav nav-tabs sw-order-view">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link grid view-type active" data-ref="grid"><i class="fa fa-th-large"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link list view-type " data-ref="list"><i class="fa fa-th-list"></i></a>
                                    </li>
                                </ul>
                            </div><!--view-change end-->
                        </div>

                        <!--list-head end-->
                        <div class="listings panel__cardbody row">
                            <div class="list_products">
                                <div class="row">
                                    {% for list in lists%}
                                        {% include 'includes/list.html' %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div><!--tab-content end-->
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
