<div class="container">
    <div class="row">
        <div class=" col-lg-12">
            <div class="widget-property-search">
                <div class="selio_sw_win_wrapper">
                    <div class="ci sw_widget sw_wrap">
                        <form action="#" class="sw_search_primary sw_search_form row banner-search">
                            <div class="form_field full banner_search_show">
                                <div class="form-group field_search_where" style="">
                                    <input id="search_where" name="search_where" value="" type="text" class="form-control" placeholder="Enter Address, City or State">
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form_field ">
                                    <div class="form-group">
                                        <div class="drop-menu">
                                            <div class="select">
                                                <span>Any Purpose</span>
                                                <i class="fa fa-angle-down"></i>
                                            </div>
                                            <input type="hidden" id="search_4" name="search_4" value="">
                                            <ul class="dropeddown">
                                                <li>Any Purpose</li>
                                                <li data-value="For Sale">For Sale</li>
                                                <li data-value="For Rent">For Rent</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form_field winter_dropdown_tree_style group_location_id search_field banner_search_show" style="">
                                    <div class="form-group">
                                        <div class="winter_dropdown_tree color-secondary">
                                            <div class="btn-group">
                                                <button class="btn btn-default color-secondary" type="button">All Categories</button>
                                                <button type="button" class="btn btn-default dropdown-toggle color-secondary"> 
                                                    <span class="glyphicon glyphicon-menu-down"></span> 
                                                </button>
                                            </div>
                                            <div class="list_container color-primary" style="display: none;">
                                                <div class="list_scroll">
                                                    <ul class="list_items">
                                                        <li key="">All Categories</li>
                                                        <li key="1">Apartment</li><li key="2">House</li><li key="3">Commercial</li>
                                                        <li key="4">&nbsp;&nbsp;&nbsp;&nbsp;Restaurant</li>
                                                        <li key="5">&nbsp;&nbsp;&nbsp;&nbsp;Bakery</li>
                                                        <li key="6">&nbsp;&nbsp;&nbsp;&nbsp;Shop</li>
                                                        <li key="7">Land</li>
                                                    </ul>
                                                </div>
                                                <div class="input-group">
                                                    <input type="text" class="form-control color-secondary search_term" placeholder="Search term" aria-describedby="basic-addon2">
                                                    <span class="input-group-addon color-secondary"><i class="loader-spiner fa fa-search"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <input name="search_category" value="" type="text" id="wintreeelem_0" readonly="" style="display: none;">    
                                    </div>
                                </div>
<div class="form_field  banner_search_show side_hide  ">
    <div class="form-group">
                <div class="drop-menu">
                <div class="select">
                                            <span>Min  ($)</span>
                                        <i class="fa fa-angle-down"></i>
                </div>
                <input type="hidden" id="search_36_from" name="search_36_from" value="">
                <ul class="dropeddown">
                                            <li>Min  ($)</li>
                                                                <li data-value="10000">$ 10000</li>
                                            <li data-value="20000">$ 20000</li>
                                            <li data-value="30000">$ 30000</li>
                                            <li data-value="40000">$ 40000</li>
                                            <li data-value="50000">$ 50000</li>
                                            <li data-value="100000">$ 100000</li>
                                    </ul>
            </div>
        </div>
</div>
<div class="form_field  banner_search_show  ">
    <div class="form-group">
                <div class="drop-menu">
                <div class="select">
                                            <span>Max  ($)</span>
                                        <i class="fa fa-angle-down"></i>
                </div>
                <input type="hidden" id="search_36_to" name="search_36_to" value="">
                <ul class="dropeddown">
                                            <li>Max  ($)</li>
                                                                <li data-value="10000">$ 10000</li>
                                            <li data-value="20000">$ 20000</li>
                                            <li data-value="30000">$ 30000</li>
                                            <li data-value="40000">$ 40000</li>
                                            <li data-value="50000">$ 50000</li>
                                            <li data-value="100000">$ 100000</li>
                                    </ul>
            </div>
        </div>
</div>
<div class="form_field    ">
    <div class="form-group">
                <div class="drop-menu">
                <div class="select">
                                            <span>Beds </span>
                                        <i class="fa fa-angle-down"></i>
                </div>
                <input type="hidden" id="search_20" name="search_20" value="">
                <ul class="dropeddown">
                                            <li>Beds </li>
                                                                <li data-value="1">1</li>
                                            <li data-value="2">2</li>
                                            <li data-value="3">3</li>
                                            <li data-value="4">4</li>
                                            <li data-value="5">5</li>
                                            <li data-value="6">6</li>
                                    </ul>
            </div>
        </div>
</div>
                            </div>
<div class="form_field winter_dropdown_tree_style group_location_id hide_on_all" style="">
    <div class="form-group">
        <div class="winter_dropdown_tree color-secondary">
            <div class="btn-group">
                <button class="btn btn-default color-secondary" type="button">All Locations</button>
                <button type="button" class="btn btn-default dropdown-toggle color-secondary"> 
                    <span class="glyphicon glyphicon-menu-down"></span> 
                </button>
            </div>
            <div class="list_container color-primary" style="display: none;">
                <div class="list_scroll">
                    <ul class="list_items">
                        <li key="">All Locations</li>
                        <li key="23">United States</li>
                        <li key="24">&nbsp;&nbsp;New York</li>
                        <li key="25">&nbsp;&nbsp;Florida</li>
                        <li key="26">&nbsp;&nbsp;Massachusetts</li>
                        <li key="27">&nbsp;&nbsp;Minnesota</li>
                        <li key="28">&nbsp;&nbsp;Montana</li>
                    </ul>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control color-secondary search_term" placeholder="Search term" aria-describedby="basic-addon2">
                    <span class="input-group-addon color-secondary"><i class="loader-spiner fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <input name="search_location" value="" type="text" id="wintreeelem_1" readonly="" style="display: none;">
    </div>

    <div class="feat-srch">
        <div class="more-feat">
            <h3> <i class="fa fa-cog"></i>Show More Features</h3>
        </div>
        <div class="form_field">
            <button type="submit" class="sw-search-start btn btn-outline-primary ">
                <span>Search</span>
                <i class="fa fa-spinner fa-spin fa-ajax-indicator" style="display: none;"></i>
            </button>
        </div>
    </div>

    <div class="features_list">
        <div class="selio_sw_win_wrapper">
            <div class="ci sw_widget sw_wrap">
                <div class="input-field field_search_22 " style="-">
                    <input type="checkbox" name="search_22" id="search_22" rel="Air conditioning" value="1">
                    <label for="search_22">
                        <span></span>
                        <small>Air conditioning</small>
                    </label>
                </div>
                <div class="input-field field_search_29 " style="-">
                    <input type="checkbox" name="search_29" id="search_29" rel="Internet" value="1">
                    <label for="search_29">
                        <span></span>
                        <small>Internet</small>
                    </label>
                </div>
<div class="input-field field_search_32 " style="-">
    <input type="checkbox" name="search_32" id="search_32" rel="Parking" value="1">
    <label for="search_32">
        <span></span>
        <small>Parking</small>
    </label>
</div><div class="input-field field_search_11 " style="-">
    <input type="checkbox" name="search_11" id="search_11" rel="Balcony" value="1">
    <label for="search_11">
        <span></span>
        <small>Balcony</small>
    </label>
</div><div class="input-field field_search_33 " style="-">
    <input type="checkbox" name="search_33" id="search_33" rel="Pool" value="1">
    <label for="search_33">
        <span></span>
        <small>Pool</small>
    </label>
</div><div class="input-field field_search_31 " style="-">
    <input type="checkbox" name="search_31" id="search_31" rel="Microwave" value="1">
    <label for="search_31">
        <span></span>
        <small>Microwave</small>
    </label>
</div><div class="input-field field_search_23 " style="-">
    <input type="checkbox" name="search_23" id="search_23" rel="Cable TV" value="1">
    <label for="search_23">
        <span></span>
        <small>Cable TV</small>
    </label>
</div></div>
</div>    </div>
    </form>



</div>
</div>                </div>




<div class="listing-directs">                               
    <article  class="recent-posts-item post-5 page type-page status-publish hentry">
        <div class="excerpt">
            <div class="selio_sw_win_wrapper">
                <div class="ci sw_widget sw_wrap">
                    <div id="results" class="properties-rows">
                        <span id="results_top"></span>
                        <div class="list-head">
                            <div class="sortby">
                                <span>Sort by:</span>
                                <div class="drop-menu">
                                    <div class="select">
                                        <span>Oldest</span>
                                        <i class="fa fa-caret-down"></i>
                                    </div>
                                    <input type="hidden" name="search_order" id="search_order">
                                    <ul class="dropeddown">
                                        <li data-value="">Relevant</li>
                                        <li data-value="">Oldest</li>
                                        <li data-value="">Most Viewed</li>
                                        <li data-value="">Higher price</li>
                                        <li data-value="">Lower price</li>
                                    </ul>
                                </div>
                            </div><!--sortby end-->
                            <div class="view-change">
                                <ul class="nav nav-tabs sw-order-view">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link grid view-type active" data-ref="grid"><i class="fa fa-th-large"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link list view-type " data-ref="list"><i class="fa fa-th-list"></i></a>
                                    </li>
                                </ul>
                            </div><!--view-change end-->
                        </div>

                        <!--list-head end-->
                        <div class="listings">
                            <div class="list_products">
                                <div class="row">
                                    {% for list in lists%}
                                        {% include 'includes/list.html' %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div><!--tab-content end-->


                        <nav class="text-center pagin-parent">
                            <ul class="pagination">
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a href="?search_order=0&amp;search_view=grid&amp;map_num_listings=50&amp;offset=12#results" data-ci-pagination-page="2">2</a></li>
                                <li class="page-item"><a href="?search_order=0&amp;search_view=grid&amp;map_num_listings=50&amp;offset=24#results" data-ci-pagination-page="3">3</a></li>
                                <li class="page-item"><a href="?search_order=0&amp;search_view=grid&amp;map_num_listings=50&amp;offset=12#results" data-ci-pagination-page="2" rel="next">&gt;</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>    
        </div>
        <footer class="post-footer">
        </footer>
    </article>
</div>




<!--listing-directs end-->
            </div>
        </div>
    </div>