{% load humanize %}
{% load static %}
    <div class="card listing__card ">
        <a href="{{ list.get_absolute_url }}" title="{{ list.title }}" class="preview">
            <div class="card__imgBlock">
                <div class="overlay"></div>
                <img data-src="{{ list.imageURL }}" alt="{{ list.title }}" src="{% static 'img/core/placeholder.jpg' %}" class="img-fluid lozad">
                {% if not list.url %}
                    {% if not list.rate %}
                        <div class="card__rateInfo">
                            <h5>&cent; {{ list.price|floatformat:2|intcomma }}</h5>
                            {% if not list.hotel %}
                            <span class="purpose-for-{% if list.purpose == 'sale'%}sale{%else%}rent{%endif%}">For {% if list.purpose == 'sale'%}sale{%else%}rent{%endif%}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </a>
        <div class="card__full">
            <div class="card__body d-flex justify-content-between">
                <div>
                    <a href="{{ list.get_absolute_url }}" title="{{ list.title }}">
                        {% if list.hotel %}
                            {% if list.rate %}
                                <h3>{{ list.title }}</h3>
                                    <p>
                                        <i class="fa fa-map-marker"></i> {{ list.location_address}} -
                                        {{ list.locality.name }} , {{ list.region }} Region
                                    </p>
                                {% else %}
                                <h3>{{ list.title }} At {{list.hotel}} </h3>
                                <p>
                                    <i class="fa fa-map-marker"></i> {{ list.hotel.location_address}} -
                                    {{ list.hotel.locality.name }} , {{ list.hotel.region }} Region
                                </p>
                                {% endif %}
                        {% else %}
                            <h3>{{ list.title }}</h3>
                            <p>
                                <i class="fa fa-map-marker"></i> {{ list.location_address}} -
                                {{ list.locality.name }} , {{ list.region }} Region
                            </p>
                        {% endif %}
                    </a>
                    <div class="card__resultItems"> 
                        {% if list.url %}
                            <span class="property-card-value">
                                <span class="field_name"><i class="fa fa-globe"></i></span>
                                <span class="item">{{ list.url }}</span>
                            </span><br>
                            <span class="property-card-value">
                                <span class="field_name"><i class="fa fa-home"></i></span>
                                <span class="item">{{ list.num_props }} Property Units</span>
                            </span>
                        {% elif  list.rate %}
                        <span class="property-card-value">
                            <span class="item">
                                    {% if  list.rate == '1' %}
                                    <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        {% elif  list.rate  == '2' %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        {% elif  list.rate  == '3' %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        {% elif  list.rate  == '4' %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    {% elif  list.rate  == '5' %}
                                    <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    {% endif %}
                                    Rated 
                                </span>
                            </span>
                            
                            {% if  list.conference_facilities %}
                            <span class="property-card-value">
                                <span class="field_name"><i class="fa fa-chair"></i></span>
                                <span class="item"> Conference facilities</span>
                            </span>
                            {% endif %}
                            {% if  list.pool %}
                            <span class="property-card-value">
                                <span class="field_name"><i class="fa fa-swimming-pool"></i></span>
                                <span class="item">Pool</span>
                            </span>
                            {% endif %}
                            {% if  list.free_wiFi %}
                            <span class="property-card-value">
                                <span class="field_name"><i class="fa fa-wifi"></i></span>
                                <span class="item">Free High Speed Internet (WiFi)</span>
                            </span>
                            {% endif %}
                            {% if  list.free_parking %}
                            <span class="property-card-value">
                                <span class="field_name"><i class="fa fa-parking"></i></span>
                                <span class="item">Free parking</span>
                            </span>
                            {% endif %}
                            {% if  list.fitness_center %}
                            <span class="property-card-value">
                                <span class="field_name"><i class="fa fa-dumbbell"></i></span>
                                <span class="item">Fitness Center</span>
                            </span>
                            {% endif %}
                        {% elif not list.rate %}
                            {% if list.hotel.rate %}
                            <span class="property-card-value">
                                <span class="item">
                                    {% if  list.hotel.rate == '1' %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    {% elif  list.hotel.rate  == '2' %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    {% elif  list.hotel.rate  == '3' %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    {% elif  list.hotel.rate  == '4' %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    {% elif  list.hotel.rate  == '5' %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    {% endif %}
                                    Rated 
                                </span>
                            </span>
                            {% if  list.housekeeping %}
                            <span class="property-card-value">
                                <span class="field_name"><i class="fa fa-tshirt"></i></span>
                                <span class="item">Housekeeping</span>
                            </span>
                            {% endif %}
                            {% if  list.refrigerator %}
                            <span class="property-card-value">
                                <span class="field_name"><i class="fa"></i></span>
                                <span class="item">Refrigerator</span>
                            </span>
                            {% endif %}
                            {% if  list.flatscreen_tv %}
                            <span class="property-card-value">
                                <span class="field_name"><i class="fa fa-television"></i></span>
                                <span class="item">Flatscreen TV</span>
                            </span>
                            {% endif %}
                            {% if  list.room_service %}
                            <span class="property-card-value">
                                <span class="field_name"><i class="fa fa-parking"></i></span>
                                <span class="item">Room Service</span>
                            </span>
                            {% endif %}
                            {% if  list.kitchenette %}
                            <span class="property-card-value">
                                <span class="field_name"><i class="fa fa-dumbbell"></i></span>
                                <span class="item">Kitchenette</span>
                            </span>
                            {% endif %}
                            {% if  list.air_conditioning %}
                            <span class="property-card-value">
                                <span class="field_name"><i class="fa fa-air-freshener"></i></span>
                                <span class="item">Air Conditioning</span>
                            </span>
                            {% endif %}
                        {% else %}
                            {% if list.category.title == 'land' %}
                                <span class="property-card-value">
                                    <span class="field_name"> Dimensions </span>
                                    <span class="item"> {{ list.landproperty.dimension }} </span>
                                </span>
                                <span class="property-card-value">
                                    <span class="field_name"> Area </span>
                                    <span class="item"> {{ list.landproperty.area }} </span>
                                </span>
                            {% else %}
                                <span class="property-card-value">
                                    <span class="field_name"> Bathrooms: </span>
                                    <span class="item"> {{ list.houseproperty.bath }} </span>
                                </span>
                                <span class="property-card-value">
                                    <span class="field_name"> Beds:  </span>
                                    <span class="item"> {{ list.houseproperty.bed }} </span>
                                </span>
                                <span class="property-card-value">
                                    <span class="field_name"> Garages:  </span>
                                    <span class="item"> {{ list.houseproperty.garage }} </span>
                                </span>
                                <span class="property-card-value">
                                    <span class="field_name"> Area:  </span>
                                    <span class="item"> {{ list.houseproperty.area }} </span>
                                </span>
                            {% endif %}
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% if list.logo %}
                    <div>
                        <div>
                            <img data-src="{{ list.logoURL }}" alt="" src="{% static 'img/core/placeholder.jpg' %}" class="lozad" width="100" height="150" title="{{list.title}} Logo">
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="card__footer">
                <span class="favorites-actions">
                    {% if list.url %}
                        {% if list.socialhandle.facebook %}
                        <span class="property-card-value">
                            <span class="field_name"><a href="{{list.socialhandle.facebook}}"><i class="fa fa-facebook"></i></a></span>
                        </span>
                        {% endif %}
                        {% if list.socialhandle.facebook %}
                        <span class="property-card-value">
                            <span class="field_name"><a href="{{list.socialhandle.instagram}}"><i class="fa fa-instagram"></i></a></span>
                        </span>
                        {% endif %}
                        {% if list.socialhandle.facebook %}
                        <span class="property-card-value">
                            <span class="field_name"><a href="{{list.socialhandle.linkedIn}}"><i class="fa fa-linkedin"></i></a></span>
                        </span>
                        {% endif %}
                    {% endif %}
                </span>
                {% if list.rate %}
                    <a href="{{ list.get_absolute_url }}" class="btn btn-enroll btn-primary btn-sm text-white">view Hotel</a>
                {% else %}
                <a href="#" title="" ><i class="fa fa-calendar-check-o"></i> {{ list.get_date }} </a>
                {% endif %}
            </div>
        </div>
        {% if not list.url %}
        <a href="{{ list.get_absolute_url }}" title="{{ list.title }}" class="ext-link"></a>
        {% endif %}
    </div>
