{% load humanize %}

    <div class="card listing__card ">
        <a href="{{ list.get_absolute_url }}" title="{{ list.title }}" class="preview">
            <div class="card__imgBlock">
                <div class="overlay"></div>
                <img src="{{ list.imageURL }}" alt="{{ list.title }}" class="img-fluid">
                {% if not list.url %}
                    <div class="card__rateInfo">
                        <h5>&cent; {{ list.price|floatformat:2|intcomma }}</h5>
                        <span class="purpose-for-{% if list.purpose == 'sale'%}sale{%else%}rent{%endif%}">For {% if list.purpose == 'sale'%}sale{%else%}rent{%endif%}</span>
                    </div>
                {% endif %}
            </div>
        </a>
        <div class="card__full">
            <div class="card__body d-flex justify-content-between">
                <div>
                    <a href="{{ list.get_absolute_url }}" title="{{ list.title }}">
                        <h3>{{ list.title }}</h3>
                        <p>
                            <i class="fa fa-map-marker"></i> {{ list.location_address}} -
                            {{ list.locality.name }} , {{ list.region }} Region
                        </p>
                    </a>
                    <div class="card__resultItems"> 
                        {% if list.url %}
                        <span class="property-card-value">
                            <span class="field_name"><i class="fa fa-globe"></i></span>
                            <span class="item">{{ list.url }}</span>
                        </span><br>
                        <span class="property-card-value">
                            <span class="field_name"><i class="fa fa-home"></i></span>
                            <span class="item">{{ list.num_props }} Property Units</span>
                        </span>
                        {% else %}
                            {% if list.category.title == 'land' %}
                                <span class="property-card-value">
                                    <span class="field_name"> Dimensions </span>
                                    <span class="item"> {{ list.dimension }} </span>
                                </span>
                            {% else %}
                                <span class="property-card-value">
                                    <span class="field_name"> Bathrooms </span>
                                    <span class="item"> {{ list.bath }} </span>
                                </span>
                                <span class="property-card-value">
                                    <span class="field_name"> Beds  </span>
                                    <span class="item"> {{ list.bed }} </span>
                                </span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% if list.logoURL %}
                <div>
                    <div>
                        <img src="{{ list.logoURL }}" alt="" width="150" height="150" title="{{list.title}} Logo">
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="card__footer">
                <span class="favorites-actions">
                    {% if list.url %}
                        {% if list.socialhandle.facebook %}
                        <span class="property-card-value">
                            <span class="field_name"><a href="{{list.socialhandle.facebook}}"><i class="fa fa-facebook"></i></a></span>
                        </span>
                        {% endif %}
                        {% if list.socialhandle.facebook %}
                        <span class="property-card-value">
                            <span class="field_name"><a href="{{list.socialhandle.instagram}}"><i class="fa fa-instagram"></i></a></span>
                        </span>
                        {% endif %}
                        {% if list.socialhandle.facebook %}
                        <span class="property-card-value">
                            <span class="field_name"><a href="{{list.socialhandle.linkedIn}}"><i class="fa fa-linkedin"></i></a></span>
                        </span>
                        {% endif %}
                    {% endif %}
                </span>
                <a href="#" title="" ><i class="fa fa-calendar-check-o"></i> {{ list.get_date }} </a>
            </div>
        </div>
        {% if not list.url %}
        <a href="{{ list.get_absolute_url }}" title="{{ list.title }}" class="ext-link"></a>
        {% endif %}
    </div>
