<!-- <div class="row">
                        <div class="form_field  banner_search_show col-sm-6">
                            <div class="form-group field_search_where" style="">
                                <input  name="address" value="" type="text" class="form-control" placeholder="Enter Address, City or State">
                            </div>
                        </div>
                        <div class="form_field col-sm-3">
                            <div class="form-group">
                                <select name="purpose" id="" class="select">
                                    <option value="">Purpose</option>
                                    <option value="rent">For Rent</option>
                                    <option value="sale">For Sale</option>
                                </select>
                            </div>
                        </div>
                        <div class="form_field col-sm-3">
                            <div class="form-group">
                                <select name="category" id="" class="select">
                                    <!- <option>All Categories</option> ->
                                    {% for catelist in category_list %}
                                        <option value="{{catelist.title}}">{{catelist.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form_field col-sm-3">
                            <div class="form-group ">
                                <select name="" id="" class="select">
                                    <option value="">Max (&cent;)</option>
                                    <option value="10000">&cent; 10000</option>
                                    <option value="20000">&cent; 20000</option>
                                    <option value="30000">&cent; 30000</option>
                                    <option value="40000">&cent; 40000</option>
                                    <option value="50000">&cent; 50000</option>
                                    <option value="100000">&cent; 100000</option>
                                </select>
                            </div>
                        </div>
                        <div class="form_field col-sm-3">
                            <div class="form-group ">
                                <select name="" id="" class="select">
                                    <option >Beds</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form_field col-sm-3">
                            <div class="form-group ">
                                <select name="" id="" class="select">
                                    <option >baths</option>
                                    <option value="1">1+</option>
                                    <option value="2">2+</option>
                                </select>
                            </div>
                        </div>
                        <div class="form_field col-sm-3">
                            <div class="form-group ">
                                <select name="" id="" class="select">
                                    <option value="">howdy</option>
                                </select>
                            </div>
                        </div>
                    </div>  -->