<section class="subscription">
    <div class="container">
        <div class="row t">
            <div class="col-12">
                <h1 class="mb-3 text-center  text-white">Get Property Alerts from Us</h1>
                <form class="col-lg-6 mx-auto">
                    <div class="text-fields">
                        <input type="email" name="subscript-email" id="subscript-email" required class="form-control">
                        <button class="btn" id="subscript-btn"> subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>