{% load static %}
{% if testimonys%}
<section class="testimonial-sec section-clients-say  ">
	<div class="container">
		<div class="row justify-content-center">
			<div class="section-heading">
				<h3 class="">Testimonials</h3>
			</div>
		</div>
		<div class="row testimonail-sect pt-5">
			<div class="testimony__carousel col-12">
				{% for testimony in testimonys %}
				<div class="testimony__comment mx-3">
					<div class="card ">
						<div class="testimony__commentCard">
							<p>{{ testimony.message }}</p>
						</div>
						<div class="d-flex align-items-center testimony__profCard">
							<div class="testimony__image">
								<img data-src="{{ testimony.imageURL }}" alt="image" class="img-fluid lozad">
							</div>
							<div>
								<h3>{{ testimony.name }}</h3>
								<p>Property owner</p>
							</div>
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
		</div>
	</div>
</section>
{%endif%}
