{% load humanize %}
<div class="mx-3">
    <div class="card listing__card">
        <a href="{{ list.get_absolute_url }}" title="{{ list.title }}" class="preview">
            <div class="card__imgBlock">
                <div class="overlay"></div>
                <img src="{{ list.imageURL }}" alt="{{ list.title }}" class="img-fluid">
                <div class="card__rateInfo">
                    <h5>&cent; {{ list.price|floatformat:2|intcomma }}</h5>
                    <span class="purpose-for-{% if list.purpose == 'sale'%}sale{%else%}rent{%endif%}">For {% if list.purpose == 'sale'%}sale{%else%}rent{%endif%}</span>
                </div>
            </div>
        </a>
        <div class="card__full">
            <div class="card__body">
                <a href="{{ list.get_absolute_url }}" title="{{ list.title }}">
                    <h3>{{ list.title }}</h3>
                    <p>
                        <i class="fa fa-map-marker"></i>
                        {{ list.address }} , {{ list.region.name }} Region
                    </p>
                </a>
                <div class="card__resultItems">
                    {% if list.category.title == 'land' %}
                        <span class="property-card-value">
                            <span class="field_name"> Dimensions </span>
                            <span class="item"> {{ list.dimension }} </span>
                        </span>
                    {% else %}
                        <span class="property-card-value">
                            <span class="field_name"> Bathrooms </span>
                            <span class="item"> {{ list.bath }} </span>
                        </span>
                        <span class="property-card-value">
                            <span class="field_name"> Beds  </span>
                            <span class="item"> {{ list.bed }} </span>
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="card__footer">
                <span class="favorites-actions">
                    <a href="#" class=""><i class="fa fa-heart-o"></i></a>
                    <!----<i class="fa fa-spinner fa-spin fa-custom-ajax-indicator"></i> -->
                </span>
                <a href="#" title="" ><i class="fa fa-calendar-check-o"></i> 4 months Ago </a>
            </div>
        </div>
        <a href="{{ list.get_absolute_url }}" title="{{ list.title }}" class="ext-link"></a>
    </div>
</div>