<div id="sw_win_contactform_widget-1" class="descp-text widget widget_sw_win_contactform_widget side"><h3 class="widget-title">Contact form</h3>
    <div class="selio_sw_win_wrapper">
        <div class="ci sw_widget sw_wrap">
            <div class="contact-agent widget-form" id="form">
                <form id="sw_contactform_sw_win_contactform_widget-1" method="post" action="#sw_contactform_sw_win_contactform_widget-1" class="box">
                    <div class="box-container widget-body">
                        <div class="form-field">
                            <input class="" name="name" type="text" value="{{ request.user.first_name }} {{ request.user.last_name }}" placeholder="Full name">
                        </div>
                        <div class="form-field">
                            <input class="" name="email" type="text" value="{{ request.user.email }}" placeholder="Your email">
                        </div>
                        <div class="form-field">
                            <input class="" name="phone_number" type="text" value="{{ request.user.profile.phone_number }}" placeholder="Phone number">
                        </div>
                        <div class="form-field">
                            <input class="" name="subject" type="text" value="" placeholder="Subject">
                        </div>
                        <div class="form-field">
                            <textarea  name="message" rows="4" class="" placeholder="Message"></textarea>
                        </div>
                        <div class="form-field">
                            <button type="submit" class="btn2">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>