<div class="row justify-content-between contact-agent p-0">
    <div class="">
        <span>
            <i class="fa fa-phone"></i>
            <a href="tell://+233554748768">
                +233 55 474 8768                
            </a>
        </span>
    </div>
    <div>
        <span><i class="fa fa-whatsapp"></i>
            <a href="https://wa.me/233507321204?text=Hello Sandvet, I am interested with your listing {{request.build_absolute_uri}}.">
                +233 50 732 1204             
            </a>
        </span>
    </div>
</div>