{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-12"> 
        <div class="card">
            <div class="card-body">
                <h4 class="page-title">Create an Asset</h4><br>
                <ul class="nav nav-pills navtab-bg nav-justified mb-3">
                    <li class="nav-item">
                        <a href="#lands" data-toggle="tab" aria-expanded="false" class="nav-link active">
                            Lands 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#appartment" data-toggle="tab" aria-expanded="false" class="nav-link">
                            Buildings/Appartment/House 
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    {% include 'dashboard/forms/addproperty.html' %}
                </div>                   
            </div> 
        </div>
    </div>
</div>
{%endblock%}

{% block extra_body %}
<script>
    $('document').ready(function(){
        "use strict";


        // $("#id_purpose").prepend("<option value='' selected='selected'>----</option>");
        $('#id_purpose').change(function(){
            $('.colors').hide();
            $('#' + $(this).val()).show();
            if(($(this).val()) === 'rent'){
                $('#id_price').attr('placeholder', 'Amount to pay per month')
            }else{
                $('#id_price').attr('placeholder', 'price')
            }
        }); 
  
    

        function FormAddProperty(FormId, endpoint) {
            $(FormId).submit(function(event) {
                event.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    url: endpoint,
                    method: "POST",
                    data: formData,
                    beforeSend: function() {
                        $(".fa-custom-ajax-indicator").show();
                    },
                    complete: function() {
                        $(".fa-custom-ajax-indicator").hide();
                    },
                    success: function (response) {
                        $('.error').remove();
                        console.log(response)
                        if(response.error){
                            $.each(response.errors, function(name, error){
                                error = '<small class="text-muted error">' + error + '</small>'
                                $(this).find('[name=' + name + ']').after(error);
                            })
                        }
                        else{
                            
                                window.location.href = "{% url 'dashboard:property' %}";
                            
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                    error : function(response){
                        $('.error').remove();
                        console.log(response)
                        
                        
                        if(response.responseJSON.error){
                            console.log("error", response.responseJSON.errors)
                            $.each(response.responseJSON.errors, function(name, error){
                                error = '<small class="text-muted error">' + error + '</small>'
                                $(this).find('[name=' + name + ']').after(error);
                            })
                        }
                    }
                })
            });
        }
        // add Property Land
        FormAddProperty("#form_propertyLand", "{% url 'dashboard:add-land-property' %}")
    
    });
</script>
    {% endblock %}