{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Sandvet | {{ dash_title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'img/core/favicon.png' %}">

         <!-- plugin css -->
         <link href="{% static 'dashboard/libs/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
         <link href="{% static 'dashboard/libs/datatables/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
         <link href="{% static 'dashboard/libs/datatables/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
         <link href="{% static 'dashboard/libs/datatables/select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />   
         
        <link href="{% static 'dashboard/libs/jquery-nice-select/nice-select.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'dashboard/libs/select2/select2.min.css' %}" rel="stylesheet" type="text/css" />
         <!-- Plugins css -->
        <link href="{% static 'dashboard/libs/dropzone/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
        {% block extra_head %} {% endblock %}
        <!-- App css -->
        <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'dashboard/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'dashboard/css/app.min.css' %}" rel="stylesheet" type="text/css" />

    </head>

 
    <body class="topbar-light">
        {% block body %}
        <!-- Navigation Bar-->
        <header id="topnav">

            <!-- Topbar Start -->
            <div class="navbar-custom">
                <div class="container-fluid">
                    <ul class="list-unstyled topnav-menu float-right mb-0">

                        <li class="dropdown notification-list">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle nav-link">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </li>
    
                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user mr-0" data-toggle="dropdown" href="layouts-menubar-light.html#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="{% static 'dashboard/images/users/avatar-4.jpg' %}" alt="user-image" class="rounded-circle">
                                <span class="pro-user-name ml-1">
                                    Morgan K <i class="mdi mdi-chevron-down"></i> 
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h6 class="m-0">
                                        Welcome !
                                    </h6>
                                </div>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="dripicons-user"></i>
                                    <span>My Account</span>
                                </a>

                                <div class="dropdown-divider"></div>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="dripicons-power"></i>
                                    <span>Logout</span>
                                </a>

                            </div>
                        </li>
    
                    </ul>
    
                    <ul class="list-unstyled topnav-menu-left m-0">
            
                        <li class="logo-box float-left">
                            <a href="{% url 'dashboard:dashboard' %}" class="logo">
                                <span class="logo-lg">
                                    <img src="{% static 'img/core/logo.png' %}" alt="">
                                </span>
                                <span class="logo-sm">
                                    <img src="{% static 'img/core/logo.png' %}">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div> <!-- end container-fluid-->
            </div>
            <!-- end Topbar -->

            
            <div class="topbar-menu">
                <div class="container-fluid">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">

                            <li class="has-submenu">
                                <a href="{% url 'dashboard:dashboard' %}"><i class="fe-airplay"></i>Dashboards</a>
                            </li>
                            <li class="has-submenu">
                                <a href="{% url 'dashboard:locality' %}"><i class="fe-airplay"></i>Locality</a>
                            </li>
                            <li class="has-submenu">
                                <a href="{% url 'dashboard:property' %}"><i class="fe-airplay"></i>Properties</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="{% url 'dashboard:property' %}">Properties</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'dashboard:categories' %}">Categories</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="{% url 'dashboard:car' %}">
                                <i class="fe-align-center"></i>Cars <div class="arrow-down"></div></a>  
                                <ul class="submenu">
                                    <li>
                                        <a href="{% url 'dashboard:car' %}">Cars</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'dashboard:brands' %}">Brands</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'dashboard:types' %}">Type</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="{% url 'dashboard:spare-parts' %}"><i class="fe-airplay"></i>Spare Parts</a>
                            </li>
                            <li class="has-submenu">
                                <a href="{% url 'dashboard:schools' %}"><i class="fe-airplay"></i>Driving Schools</a>
                            </li>
                            <li class="has-submenu">
                                <a href="{% url 'dashboard:realestates' %}"><i class="fe-airplay"></i>Real Estate</a>
                            </li>
                            <li class="has-submenu">
                                <a href="javascript:void()"><i class="fe-airplay"></i>Bookings</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="{% url 'dashboard:bookings' %}">All Bookings</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'dashboard:car-bookings' %}">Cars</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'dashboard:sparepart-bookings' %}">Spare Parts</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'dashboard:school-bookings' %}">Driving Schools</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'dashboard:properties-bookings' %}">Properties</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'dashboard:hotels-bookings' %}">Hotels</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'dashboard:hotelrooms-bookings' %}">Hotel Rooms</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'dashboard:realestates-bookings' %}">Real Esates</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- End navigation menu -->

                        <div class="clearfix"></div>
                    </div>
                    <!-- end #navigation -->
                </div>
                <!-- end container -->
            </div>
            <!-- end navbar-custom -->

        </header>
        <!-- End Navigation Bar-->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="wrapper">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item active">{{ dash_title }}</li>
                                </ol>
                            </div>
                            <h4 class="page-title">{{ dash_title }}</h4>
                        </div>
                    </div>
                </div>   
                {% include "includes/messages.html" %}  
                <!-- end page title --> 
                {% block content %}{% endblock %}
    <!-- end row --> 
</div> <!-- end container-fluid -->
</div>
<!-- end wrapper -->

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->



<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                         &copy; Sandvet 
                    </div>
                </div>
            </footer>
        <!-- end Footer -->
        
        
        
        {% endblock %}
        
        <!-- Vendor js -->
        <script src="{% static 'dashboard/js/vendor.min.js' %}"></script>
        
        
        
        <!-- Chart JS -->
        <script src="{% static 'dashboard/libs/chart-js/Chart.bundle.min.js' %}"></script>
        <!-- Sparkline charts -->
        <script src="{% static 'dashboard/libs/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
        <!-- Dashboard js -->
        <script src="{% static 'dashboard/js/pages/dashboard.init.js' %}"></script> 
        
        <!-- datatable js -->
         <script src="{% static 'dashboard/libs/datatables/jquery.dataTables.min.js' %}"></script>
         <script src="{% static 'dashboard/libs/datatables/dataTables.bootstrap4.min.js' %}"></script>
         <script src="{% static 'dashboard/libs/datatables/dataTables.responsive.min.js' %}"></script>
         <script src="{% static 'dashboard/libs/datatables/responsive.bootstrap4.min.js' %}"></script>
         
         <script src="{% static 'dashboard/libs/datatables/dataTables.buttons.min.js' %}"></script>
         <script src="{% static 'dashboard/libs/datatables/buttons.bootstrap4.min.js' %}"></script>
         <script src="{% static 'dashboard/libs/datatables/buttons.html5.min.js' %}"></script>
         <script src="{% static 'dashboard/libs/datatables/buttons.flash.min.js' %}"></script>
         <script src="{% static 'dashboard/libs/datatables/buttons.print.min.js' %}"></script>
 
         <script src="{% static 'dashboard/libs/datatables/dataTables.keyTable.min.js' %}"></script>
         <script src="{% static 'dashboard/libs/datatables/dataTables.select.min.js' %}"></script>
         
         <script src="{% static 'dashboard/libs/jquery-nice-select/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'dashboard/libs/select2/select2.min.js' %}"></script>
         
         <!-- Datatables init -->
         <script src="{% static 'dashboard/js/pages/datatables.init.js' %}"></script>        
         
         <script src="{% static 'dashboard/js/jquery.validate.min.js' %}"></script>
          <!-- Plugins js -->
        <script src="{% static 'dashboard/libs/dropzone/dropzone.min.js' %}"></script>

         <!-- Mask input -->
         <script src="{% static 'dashboard/libs/jquery-mask-plugin/jquery.mask.min.js' %}"></script>

         <!-- Init js-->
         <script src="{% static 'dashboard/js/pages/form-advanced.init.js' %}"></script>
         <!-- App js -->
         <script src="{% static 'dashboard/js/app.min.js' %}"></script>
        
         <script src="{% static 'dashboard/js/jscolor.js' %}"></script>

<script>
jscolor.presets.default = {
	format:'any', previewSize:0
};
</script>


        {% block extra_body %}{% endblock %}
    </body>
    </html>