{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %} 
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-12"> 
        <div class="card">
            <div class="card-body">
                <h4 class="page-title">{{dash_title}}</h4><br>
                <a href="{% url 'dashboard:spare-parts' %}" class="btn btn-primary mb-3"> <i class="mdi mdi-arrow-left mr-1"></i> Back</a>
                <div class="">
                    <div class="">
                        <form class="form-horizontal" method="POST" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <div class="form-group row">
                                {% for field in form %}
                                    <div class="col-md-6 mb-2">
                                        {{ field|as_crispy_field }}
                                    </div>
                                {% endfor %}
                                <div class="col-md-12">
                                    {{image_form|crispy}}
                                </div>
                            </div>
                            <div class="row">
                                {% for img in images %}
                                <div class="col-lg-3 col-md-6 ">
                                    <div class="card d-block">
                                        <img class="card-img-top img-fluid" src="{{img.imageURL}}" alt="{{img.car}}" class="img-fluid" style="max-height: 250px;">
                                        <div class="card-body p-1">
                                            <a href="{% url 'dashboard:delete-sparepart-image' id=img.id %}" class="btn btn-sm btn-danger waves-effect waves-light text-white"><i class="mdi mdi-delete mr-1 text-muted"></i>delete</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="clearfix text-right mt-3">
                                <button type="submit" class="btn btn-primary waves-effect waves-light"><i class="mdi mdi-send mr-1"></i>submit</button>
                            </div>
                        </form>
                        </div>
                    
                </div>                   
            </div> 
        </div>
    </div>
</div>




            

{%endblock%}

{% block extra_body %}

    {% endblock %}