{% extends 'dashboard/base.html' %}
{% block content %}

<div class="row">
    <div class="col-xl-3 col-lg-6">
        <div class="card widget-flat">
            <div class="card-body p-0">
                <div class="p-3 pb-0">
                    <div class="float-right">
                        <i class="mdi mdi-cart text-primary widget-icon"></i>
                    </div>
                    <h5 class="text-muted font-weight-normal mt-0">Total Sales</h5>
                    <h3 class="mt-2">3,543</h3>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->

    <div class="col-xl-3 col-lg-6">
        <div class="card widget-flat">
            <div class="card-body p-0">
                <div class="p-3 pb-0">
                    <div class="float-right">
                        <i class="mdi mdi-currency-usd text-danger widget-icon"></i>
                    </div>
                    <h5 class="text-muted font-weight-normal mt-0">Income amounts</h5>
                    <h3 class="mt-2">21,287</h3>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->

    <div class="col-xl-3 col-lg-6">
        <div class="card widget-flat">
            <div class="card-body p-0">
                <div class="p-3 pb-0">
                    <div class="float-right">
                        <i class="mdi mdi-account-multiple text-primary widget-icon"></i>
                    </div>
                    <h5 class="text-muted font-weight-normal mt-0">Total Users</h5>
                    <h3 class="mt-2">{{user_count}}</h3>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->

    <div class="col-xl-3 col-lg-6">
        <div class="card widget-flat">
            <div class="card-body p-0">
                <div class="p-3 pb-0">
                    <div class="float-right">
                        <i class="mdi mdi-eye-outline text-danger widget-icon"></i>
                    </div>
                    <h5 class="text-muted font-weight-normal mt-0">Total Visits</h5>
                    <h3 class="mt-2">74,315</h3>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Recent Bookings</h4>
                <a href="{% url 'dashboard:bookings' %}" class="btn btn-primary mb-3">  View All</a>
                <div class="table-responsive mt-3">
                    <table class="table table-hover table-centered mb-0">
                        <thead>
                            <tr>
                                <th>User ID</th>
                                <th>title</th>
                                <th>Category</th>
                                <th>Name</th>
                                <th>email</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    
                    
                        <tbody>
                            {% for book in bookings %}
                            <tr class="{% if not list.read %}bg-dark text-white{% endif %} ">
                                <th scope="row">{{ book.id }}</th>
                                <td>
                                    {{ book.propertybooking.property.title }}
                                    {{ book.realestatebooking.realestate.title }}
                                    {{ book.hotelbooking.hotel.title }}
                                    {{ book.hotelroombooking.hotelroom.title }}
                                    {{ book.carbooking.car.title }}
                                    {{ book.schoolbooking.school.title }}
                                    {{ book.sparepartbooking.sparepart.title }}
                                </td>
                                <td>
                                    {{ book.propertybooking.property.category }}
                                    {{ book.realestatebooking.category }}
                                    {{ book.hotelbooking.category }}
                                    {{ book.hotelroombooking.category }}
                                    {{ book.carbooking.category }}
                                    {{ book.schoolbooking.category }}
                                    {{ book.sparepartbooking.category }}
                                </td>
                                <td>{{ book.name}}</td>
                                <td>{{ book.email }}</td>
                                <td>{{ book.phone_number }}</td>
                                <td>
                                    <div class="btn-group dropdown">
                                        <a href="javascript: void(0);" class="dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="index.html#"><i class="mdi mdi-pencil mr-1 text-muted"></i>View</a>
                                            <a class="dropdown-item" href="index.html#"><i class="mdi mdi-email mr-1 text-muted"></i>Send Email</a>
                                            <a class="dropdown-item" href="{% url 'dashboard:delete-booking' id=book.id%}"><i class="mdi mdi-delete mr-1 text-muted"></i>Remove</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row --> 
                
                {% endblock %}