{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'dashboard:add-spare-part' %}" class="btn btn-primary mb-3"> <i class="mdi mdi-plus mr-1"></i> New Spare Part</a>
                <table id="key-datatable" class="table dt-responsive nowrap">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <th>Title</th>
                            <th>Region</th>
                            <th>Locality</th>
                            <th>Featured</th>
                            <th>Entry Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for sparepart in spareparts %}
                        <tr>
                            <td>{{ sparepart.id }}</td>
                            <td>{{ sparepart.title }}</td>
                            <td>{{ sparepart.region }}</td>
                            <td>{{ sparepart.locality.name }}</td>
                            <td>
                                {% if sparepart.featured == 1 %}
                                <a href="{% url 'dashboard:featured-spare-part' id=sparepart.id%}" class="btn btn-sm btn-danger">remove</a>
                                {% else %}
                                <a href="{% url 'dashboard:featured-spare-part' id=sparepart.id%}" class="btn btn-sm btn-primary">add</a>
                                {% endif %}
                            </td>
                            <td>{{ sparepart.created_at|date:"d- m-Y" }}</td>
                            <td>
                                <div class="btn-group dropdown">
                                    <a href="javascript: void(0);" class="dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="{% url 'dashboard:view-spare-part' id=sparepart.id%}"><i class="mdi mdi-eye mr-1 text-muted"></i>View</a>
                                        <a class="dropdown-item" href="{% url 'dashboard:edit-spare-part' id=sparepart.id%}"><i class="mdi mdi-pencil mr-1 text-muted"></i>Edit</a>
                                        <a class="dropdown-item" href="{% url 'dashboard:delete-spare-part' id=sparepart.id%}"><i class="mdi mdi-delete mr-1 text-muted"></i>Delete</a>
                                        </div>
                                    </div>
                            </td>
                            
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div> 
    </div>
</div>
{% endblock %}
        

                