{% extends 'dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'dashboard:bookings' %}" class="btn btn-primary mb-3"> <i class="mdi mdi-arrow-left mr-1"></i> Back</a>
                
                <div class="row">
                    <div class="col-6 ">
                    <div class="card">
                        <p class="m-2">Booker Info</p>
                                    
                                    <table id="key-datatable" class="table dt-responsive nowrap">
                                        <tbody>
                                            <tr>
                                                <td>Name</td>
                                                <td>{{ booking.name }}</td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td>{{ booking.email }}</td>
                                            </tr>
                                            <tr>
                                                <td>Phone number</td>
                                                <td>{{ booking.phone_number }} </td>
                                            </tr>
                                            <tr>
                                                <td>Subject</td>
                                                <td>{{ booking.subject }}</td>
                                            </tr>
                                            {% if booking.hotelroombooking.check_in %}
                                            <tr>
                                                <td>Check In Date</td>
                                                <td>{{ booking.hotelroombooking.check_in|date:"D, d M, Y h:m:s a" }}</td>
                                            </tr>
                                            <tr>
                                                <td>Check Out Date</td>
                                                <td>{{ booking.hotelroombooking.check_out|date:"D, d M, Y h:m:s a" }}</td>
                                            </tr>
                                            {% endif %}
                                            <tr>
                                                <td>Date</td>
                                                <td>{{ booking.created_at }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                    </div>
                    </div>
                    <div class="col-6">
                        
                    <div class="card">
                        <p class="m-2">{{ booking.propertybooking.property.category }}
                            {{ booking.realestatebooking.category }}
                            {{ booking.hotelbooking.category }}
                            {{ booking.hotelroombooking.category }}
                            {{ booking.carbooking.category }}
                            {{ booking.schoolbooking.category }}
                            {{ booking.sparepartbooking.category }} Info</p>
                                    <table id="key-datatable" class="table dt-responsive nowrap">
                                        <tbody>
                                            <tr>
                                                <td>Title</td>
                                                <td>
                                                    {{ booking.propertybooking.property.title }}
                                                    {{ booking.realestatebooking.realestate.title }}
                                                    {{ booking.hotelbooking.hotel.title }}
                                                    {{ booking.hotelroombooking.hotelroom.title }}
                                                    {{ booking.carbooking.car.title }}
                                                    {{ booking.schoolbooking.school.title }}
                                                    {{ booking.sparepartbooking.sparepart.title }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Region</td>
                                                <td>
                                                    {{ booking.propertybooking.property.region }}
                                                    {{ booking.realestatebooking.realestate.region }}
                                                    {{ booking.hotelbooking.hotel.region }}
                                                    {{ booking.hotelroombooking.hotelroom.region }}
                                                    {{ booking.carbooking.car.region }}
                                                    {{ booking.schoolbooking.school.region }}
                                                    {{ booking.sparepartbooking.sparepart.region }} Region
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Locality</td>
                                                <td>
                                                    {{ booking.propertybooking.property.locality.name }}
                                                    {{ booking.realestatebooking.realestate.locality.name }}
                                                    {{ booking.hotelbooking.hotel.locality.name }}
                                                    {{ booking.hotelroombooking.hotelroom.locality.name }}
                                                    {{ booking.carbooking.car.locality.name }}
                                                    {{ booking.schoolbooking.school.locality.name }}
                                                    {{ booking.sparepartbooking.sparepart.locality.name }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Website URL</td>
                                                <td> <a href="{{ booking.propertybooking.property.get_absolute_url }}
                                                    {{ booking.realestatebooking.realestate.get_absolute_url }}
                                                    {{ booking.hotelbooking.hotel.get_absolute_url }}
                                                    {{ booking.hotelroombooking.hotelroom.get_absolute_url }}
                                                    {{ booking.carbooking.car.get_absolute_url }}
                                                    {{ booking.schoolbooking.school.get_absolute_url }}
                                                    {{ booking.sparepartbooking.sparepart.get_absolute_url }}" target="_blank">visit the page</a></td>
                                            </tr>
                                            <tr>
                                                <td>Timestamp</td>
                                                <td>{{ realestate.created_at }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                    </div>
                    </div>
                        <div class="col-12 ">
                            <div class="card p-2">
                            <p class="mb-0">Description</p>
                            <p>{{ booking.message }} </p>
                        </div>
                        </div>
                </div>
                <br>
                <div class="btn-group">
                    <a class="btn btn-danger" href="{% url 'dashboard:delete-booking' id=booking.id%}"><i class="text-white mdi mdi-delete mr-1 text-muted"></i>Delete</a>
                </div>
            </div> 
        </div> 
    </div>
</div>
{% endblock %}
        

                