{% extends 'dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'dashboard:bookings' %}" class="btn btn-primary mb-3"> <i class="mdi mdi-arrow-left mr-1"></i> Back</a>
                
                <div class="row">
                    <div class="col-6 ">
                    <div class="card">
                        <p>Booker Info</p>
                                    
                                    <table id="key-datatable" class="table dt-responsive nowrap">
                                        <tbody>
                                            <tr>
                                                <td>ID</td>
                                                <td>{{ booking.id }}</td>
                                            </tr>
                                            <tr>
                                                <td>Tite</td>
                                                <td>{{ booking.title }}</td>
                                            </tr>
                                            <tr>
                                                <td>Region</td>
                                                <td>{{ booking.region }} Region</td>
                                            </tr>
                                            <tr>
                                                <td>Locality</td>
                                                <td>{{ booking.locality.name }} </td>
                                            </tr>
                                            <tr>
                                                <td>Website URL</td>
                                                <td> <a href="{{ realestate.url }}">{{ realestate.url }}</a></td>
                                            </tr>
                                            <tr>
                                                <td>Timestamp</td>
                                                <td>{{ realestate.created_at }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                    </div>
                    </div>
                    <div class="col-6">
                        
                    <div class="card">
                        <p>Booker Info</p>
                                    <table id="key-datatable" class="table dt-responsive nowrap">
                                        <tbody>
                                            <tr>
                                                <td>ID</td>
                                                <td>{{ booking.id }}</td>
                                            </tr>
                                            <tr>
                                                <td>Tite</td>
                                                <td>
                                                    {{ booking.propertybooking.property.title }}
                                                    {{ booking.realestatebooking.realestate.title }}
                                                    {{ booking.hotelbooking.hotel.title }}
                                                    {{ booking.hotelroombooking.hotelroom.title }}
                                                    {{ booking.carbooking.car.title }}
                                                    {{ booking.schoolbooking.school.title }}
                                                    {{ booking.sparepartbooking.sparepart.title }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Region</td>
                                                <td>
                                                    {{ booking.propertybooking.property.region }}
                                                    {{ booking.realestatebooking.realestate.region }}
                                                    {{ booking.hotelbooking.hotel.region }}
                                                    {{ booking.hotelroombooking.hotelroom.region }}
                                                    {{ booking.carbooking.car.region }}
                                                    {{ booking.schoolbooking.school.region }}
                                                    {{ booking.sparepartbooking.sparepart.region }} Region
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Locality</td>
                                                <td>
                                                    {{ booking.propertybooking.property.locality.name }}
                                                    {{ booking.realestatebooking.realestate.locality.name }}
                                                    {{ booking.hotelbooking.hotel.locality.name }}
                                                    {{ booking.hotelroombooking.hotelroom.locality.name }}
                                                    {{ booking.carbooking.car.locality.name }}
                                                    {{ booking.schoolbooking.school.locality.name }}
                                                    {{ booking.sparepartbooking.sparepart.locality.name }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Website URL</td>
                                                <td> <a href="{{ realestate.url }}">{{ realestate.url }}</a></td>
                                            </tr>
                                            <tr>
                                                <td>Timestamp</td>
                                                <td>{{ realestate.created_at }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                    </div>
                    </div>
                    <div class="col-12 card">
                        <p class="mb-0">Description</p>
                        <p>{{ realestate.description }} </p>
                    </div>
                </div>
                <br>
                <div class="btn-group">
                    <a class="btn btn-danger" href="{% url 'dashboard:delete-booking' id=booking.id%}"><i class="text-white mdi mdi-delete mr-1 text-muted"></i>Delete</a>
                </div>
            </div> 
        </div> 
    </div>
</div>
{% endblock %}
        

                