{% extends 'dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'dashboard:property' %}" class="btn btn-primary mb-3"> <i class="mdi mdi-arrow-left mr-1"></i> Go Back</a>
                <a href="{% url 'dashboard:add-property' %}" class="btn btn-primary mb-3"> <i class="mdi mdi-plus mr-1"></i> New Property</a>
                <table id="key-datatable" class="table dt-responsive nowrap">
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td>{{ prop.id }}</td>
                        </tr>
                        <tr>
                            <td>Tite</td>
                            <td>{{ prop.title }}</td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>{{ prop.category.title }}</td>
                        </tr>
                        <tr>
                            <td>Purpose</td>
                            <td>{{ prop.purpose }}</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>GH&cent; {{ prop.price|floatformat:2|intcomma }}</td>
                        </tr>
                        <tr>
                            <td>Location Address</td>
                            <td>{{ prop.location_address }}</td>
                        </tr>
                        <tr>
                            <td>Locality</td>
                            <td>{{ prop.locality.name }}</td>
                        </tr>
                        <tr>
                            <td>Region</td>
                            <td>{{ prop.region }} Region</td>
                        </tr>
                        <tr>
                            <td>Owned By </td>
                            <td>{{ prop.owned_by.title }}</td>
                        </tr>
                        <tr>
                            <td>Area</td>
                            <td>{{ prop.landproperty.area }}{{ prop.houseproperty.area }} ft <sup>2</sup> </td>
                        </tr>
                        {% if prop.houseproperty.bed %}
                        <tr>
                            <td>beds</td>
                            <td>{{ prop.houseproperty.bed }}</td>
                        </tr>
                        <tr>
                            <td>Baths</td>
                            <td>{{ prop.houseproperty.bath }}</td>
                        </tr>
                        <tr>
                            <td>Garages</td>
                            <td>{{ prop.houseproperty.garage }}</td>
                        </tr>
                        <tr>
                            <td>Amenities</td>
                            <td>
                                <ul>
                                    {% for ame in amenities%}
                                        <li>{{ ame }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>Dimensions</td>
                            <td>{{ prop.landproperty.dimension }}</td>
                        </tr>
                        {%endif%}
                        <tr>
                            <td>Timestamp</td>
                            <td>{{ prop.created_at }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-12 card">
                        <p class="mb-0">Description</p>
                        <p>{{ prop.description }} </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        Car Images
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="card d-block">
                            <img class="card-img-top img-fluid" src="{{prop.imageURL}}" alt="{{img.car}}" class="img-fluid" style="max-height: 250px;">
                        </div>
                    </div>
                    {% for img in images %}
                    <div class="col-lg-3 col-md-6 ">
                        <div class="card d-block">
                            <img class="card-img-top img-fluid" src="{{img.imageURL}}" alt="{{img.car}}" class="img-fluid" style="max-height: 250px;">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <br>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'dashboard:edit-property' id=prop.id%}"><i class="text-white mdi mdi-pencil mr-1 text-muted"></i>Edit</a>
                    <a class="btn btn-danger" href="{% url 'dashboard:delete-property' id=prop.id%}"><i class="text-white mdi mdi-delete mr-1 text-muted"></i>Delete</a>
                </div>
            </div> 
        </div> 
    </div>
</div>
{% endblock %}
        

                