{% extends 'dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'dashboard:add-car' %}" class="btn btn-primary mb-3"> <i class="mdi mdi-plus mr-1"></i> New Car</a>
                <table id="key-datatable" class="table dt-responsive nowrap">
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td>{{ car.id }}</td>
                        </tr>
                        <tr>
                            <td>Tite</td>
                            <td>{{ car.title }}</td>
                        </tr>
                        <tr>
                            <td>Brand</td>
                            <td>{{ car.brand.name }}</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>GH&cent; {{ car.price|floatformat:2|intcomma }}</td>
                        </tr>
                        <tr>
                            <td>Car Type</td>
                            <td>{{ car.car_type.name }}</td>
                        </tr>
                        <tr>
                            <td>Region</td>
                            <td>{{ car.region }} Region</td>
                        </tr>
                        <tr>
                            <td>Interior Color</td>
                            <td><button class="btn" style="background-color: {{car.int_color}};"></button></td>
                        </tr>
                        <tr>
                            <td>Exterior Color</td>
                            <td><button class="btn" style="background-color: {{car.ext_color}};"></button></td>
                        </tr>
                        <tr>
                            <td>Mileage </td>
                            <td>{{ car.mileage }} KM</td>
                        </tr>
                        <tr>
                            <td>Fuel Type</td>
                            <td>{{ car.fuel_type }}</td>
                        </tr>
                        <tr>
                            <td>Gearbox</td>
                            <td>{{ car.gearbox }}</td>
                        </tr>
                        <tr>
                            <td>Drive Type</td>
                            <td>{{ car.drive_type }}</td>
                        </tr>
                        <tr>
                            <td>Condition</td>
                            <td>{{ car.car_state }}</td>
                        </tr>
                        <tr>
                            <td>Engine</td>
                            <td>{{ car.engine }} LT</td>
                        </tr>
                        <tr>
                            <td>Air Con</td>
                            <td>{{ car.air_con }} </td>
                        </tr>
                        <tr>
                            <td>Timestamp</td>
                            <td>{{ car.created_at }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-12 card">
                        <p class="mb-0">Description</p>
                        <p>{{ car.description }} </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        Car Images
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="card d-block">
                            <img class="card-img-top img-fluid" src="{{car.imageURL}}" alt="{{img.car}}" class="img-fluid" style="max-height: 250px;">
                        </div>
                    </div>
                    {% for img in images %}
                    <div class="col-lg-3 col-md-6 ">
                        <div class="card d-block">
                            <img class="card-img-top img-fluid" src="{{img.imageURL}}" alt="{{img.car}}" class="img-fluid" style="max-height: 250px;">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <br>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'dashboard:edit-car' id=car.id%}"><i class="text-white mdi mdi-pencil mr-1 text-muted"></i>Edit</a>
                    <a class="btn btn-danger" href="{% url 'dashboard:delete-car' id=car.id%}"><i class="text-white mdi mdi-delete mr-1 text-muted"></i>Delete</a>
                </div>
            </div> 
        </div> 
    </div>
</div>
{% endblock %}
        

                