{% extends 'base.html' %}
{% block messages %} {% endblock %}
{% load static %}
{% load humanize %}
{% block content %}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h3 class="h2">Terms And Conditions</h3>
                    Welcome to <a href="https://www.sandvet.com">www.sandvet.com</a>  These Terms of Use describe the terms and conditions applicable to your access and use of the websites, mobile sites, mobile applications and other portals owned, operated, branded or made available by sandvet.com (defined below) from time to time which relate to (a) the sandvet e-commerce platform including but not limited to the web and mobile-optimized versions of the websites identified by the uniform resource locator “<a href="https://www.sandvet.com">www.sandvet.com</a>” and the mobile applications of the Sandvet.com e-commerce platform ; and but not limited to the web and mobile-optimized versions of the website.<br><br>
                    <h2 class="h5">1. Application and Acceptance of the Terms</h2>
                    <ul>
                        <li class="mb-3">1.1 Your access to and use of the Sites and Sandvet.com’s services, properties and products through the Sites, which shall include the platforms described in the Terms (such services, software and products collectively referred to as the “Services” hereinafter) is subject to the terms and conditions contained in this document as well as the Privacy Policy, the Product Listing Policy and any other rules and policies of the Sites that Sandvet.com may publish from time to time. This document and such other rules and policies of the Sites are collectively referred to below as the “Terms”.  By accessing and use of the Sites and Services, you agree to accept and be bound by the Terms.  Please do not access or use the Services or the Sites if you do not accept all of the Terms.  </li>
 
                        <li class="mb-3">1.2 You may not access or use the Services or the Sites and may not accept the Terms if (a) you are not of legal age to form a binding contract with Sandvet.com, or (b) you are not permitted to receive any Services under the laws of Ghana or other countries / regions including the country / region in which you are resident or from which you access and use the Services and the Sites.</li>

                        <li class="mb-3">1.3 Sandvet.com may amend any Terms at any time by posting the relevant amended and restated Terms on the Sites.  By continuing to access or use the Services or the Sites, you agree that the amended and restated Terms will apply to you. </li>

                        <li class="mb-3">1.4 If Sandvet.com has posted or provided a translation of the English language version of the Terms, you agree that the translation is provided for convenience only and that the English language version will govern your access to and use of the Services or the Sites.</li>

                        <li class="mb-3">1.5 You may be required to enter into separate agreement(s), whether online or offline, with sandvet.com or our affiliate for any Service (or features within the Services) (each an “Additional Agreement”). If there is any conflict or inconsistency between the Terms and an Additional Agreement, the Additional Agreement shall take precedence over the Terms only in relation to that Service (or feature within the Service) concerned. </li>

                        <li class="mb-3">1.6 The Terms may not otherwise be modified except in writing by an authorized officer of Sandvet.com.  </li>  
                    </ul>
                    <h2 class="h5">2. Users Generally</h2>
                    <ul>
                        <li class="mb-3">2.1 As a condition of your access to and use of the Sites or Services, you agree that you will comply with all applicable laws and regulations when accessing or using the Sites or Services.
                        
                        </li>
                        <li class="mb-3">2.2 You agree that (a) you will not copy, reproduce, download, re-publish, sell, distribute or resell any Services or any information, text, images, graphics, video clips, sound, directories, files, databases or listings, etc available on or through the Sites (the “Site Content”), and (b) you will not copy, reproduce, download, compile or otherwise use any Site Content for the purposes of operating a business that competes with Sandvet.com, or otherwise commercially exploiting the Site Content. Systematic retrieval of Site Content from the Sites to create or compile, directly or indirectly, a collection, compilation, database or directory (whether through robots, spiders, automatic devices or manual processes) without written permission from Sandvet.com is prohibited. Use of any content or materials on the Sites for any purpose not expressly permitted in the Terms is prohibited.
                        </li>
                    </ul>   
                    <h2 class="h5">3. Member Accounts</h2>
                    <ul>
                        <li class="mb-3">3.1 User must be registered on the Sites to access or use some Services (a registered User is also referred to as a “Member” below). Except with sandvet.com’s approval, one User may only register one member account on the Sites. sandvet.com may cancel or terminate a User’s member account if Sandvet.com has reasons to suspect that the User has concurrently registered or is in control of two or more member accounts. Further, Sandvet.com may reject User’s application for registration for any reason.
                        </li>
                        <li class="mb-3">3.2 Upon registration on the Sites, Sandvet.com shall assign an account and issue a member ID and password (the latter shall be chosen by a registered User during registration) to each registered User. An account may have a web-based email account with limited storage space for the Member to send or receive emails
                        </li>
                        <li class="mb-3">3.3  Member agrees that all use of the Sites and Services, and all activities that occur under your account (including without limitation, posting any company or product information, clicking to accept any Additional Agreements or rules, subscribing to or making any payment for any services, sending emails using the email account or sending SMS) will be deemed to have been authorized by the Member.
                        </li>
                    </ul>
                    <h2 class="h5">4 Intellectual Property Rights</h2>
                    <ul>
                        <li class="mb-3">4.1 Sandvet.com is the sole owner or lawful licensee of all the rights and interests in the Sites and the Site Content. The Sites and Site Content embody trade secrets and other intellectual property rights protected under worldwide copyright and other laws. All title, ownership and intellectual property rights in the Sites and Site Content shall remain with Sandvet.com, our affiliates or licensors, as the case may be. All rights not otherwise claimed under the Terms or by Sandvet.com are hereby reserved.
                        
                        </li>
                        <li class="mb-3">4.2 Sandvet.com may have independent third parties involved in the provision of the Sites or Services (e.g., the authentication and verification service providers).  You may not use any trademark, service mark or logo of such independent third parties without prior written approval from such parties.</li>
                    </ul>
                        
                
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}