{% extends 'base.html' %}
{% block messages %} {% endblock %}
{% load static %}
{% load humanize %}
{% block content %}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h3 class="h4">Frequently Asked Questions</h3>
                    <ul>
                        <li class="mb-3">
                            <h4>What is sandvet?</h4>
                            Sandvet is an online marketplace in Ghana where you can buy or rent a car at an affordable price, get all car spare parts book a hotel in your nearest location, buy a house, rent an apartment or office, buy a litigation free property, and many more.
                        </li>
                        
                        <li class="mb-3">
                            <h4>How can I purchase a product on sandvet ? </h4> 
                            It's very simple! Just press on the item you want to buy, fill forms at the right side of the product and we will contact you. You can also call any of our numbers and we will help you.
                        </li>
                        <li class="mb-3">
                            <h4>Is sandvet safe? </h4> 
                            Yes, you are safe to make business with us. We partner with registered and recognized Companies in Ghana that want to reach their customers easily. Feel free contacting us.
                        </li>
                        <li class="mb-3">
                            <h4>Can I sell/buy my property from Sandvet?</h4> 
                            Yes! We have trusted agents across Ghana who will contact you and validate the property you want to sell. 
                        </li>
                        <li class="mb-3">
                            <h4>Does Sandvet work with a third-party?</h4> 
                            The only third party we work with are trusted companies that are registered under the laws of Ghana. We may work with individuals through a legal agreement to ensure the safety of our customers. 
                        </li>
                        <li class="mb-3">
                            <h4>Can I make money through Sandvet?</h4> 
                            Yes! We reward customers on commission when they are able to refer people to buy from us. We may have promotions as well.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}