{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% load static %}
{% block head_title %}Home{% endblock %}

{% block content %}
    {% include "includes/index/bannerSlider.html" %}

    {% include "includes/index/category.html" %}
    {% include "includes/index/car-featured.html" %}
    {% include "includes/index/car-brands.html" %}
    {% include "includes/testimony.html" %}
    {% include "includes/subscription.html" %}
{% endblock %}

{% block extra_body %}
<script>
    $(document).ready(function() {
        $('body').addClass('bodyIndex')
    });
</script>
{% endblock %}