{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block head_title %} {{ object.title }} at {{object.hotel}} {%endblock %} 
{% block content%}
{% if object.logoURL %}
<section class="banner-partial banner-brands" style="background-image: url({{ object.imageURL }});">
    <div class="container">
        <di class="row">
            <div class="col-md-11 mx-auto">
                <div class="title-sec">
                    <p>{{ object.title }}</p>
                    <div class="col-2 mx-auto">
                        <img src="{{ object.logoURL }}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </di>
    </div>
</section> 
{% endif %}
<section class="property-single-pg mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="navigaiton card">
                    <a class="navLinks" href="{% url 'core:index' %}">Home</a>
                    <a class="navLinks" href="{% url 'property:property' %}" >Properties</a>
                    {% if object.rate %}
                        <a class="navLinks" href="{% url 'property:hotels' %}" >Hotels</a>
                    {% elif object.rate %}
                        <a class="navLinks" href="{% url 'property:real-estates' %}" >Real Estates</a>
                    {% endif %}
                    {% if not object.rate %}
                        {% if object.hotel %}
                            <a class="navLinks" href="{% url 'property:hotels' %}" >Hotels</a>
                            <a class="navLinks" href="{% url 'property:hotel-detail' slug=object.hotel.slug %}" >{{object.hotel}}</a>
                        {% endif %}
                    {% endif %}
					<a class="navLinks">{{ object.title }}</a>
				</div>
            </div>
        </div>
        <div class="property-single-page-content">
            <div class="row">
                <div class="col-lg-8 px-0 ">
                    <div class="selio_sw_win_wrapper">
                        <div class="ci sw_widget sw_wrap">
                            <div class="bootstrap-wrapper" id="listing-preview">
                                <div class="property-pg-left">
                                    <!---property-hd-sec end-->
                                    <div class="property-hd-sec descp-text col-12">
                                        <div class="row justify-content-between">
                                            <div class="col-d-10">
                                                {% if not object.rate %}
                                                    {% if object.hotel %}
                                                    <h1>{{ object.title }} At {{object.hotel}}</h1>
                                                    <p><i class="fa fa-map-marker"></i> {{ object.hotel.location_address}}, {{ object.hotel.locality.name }} - {{ object.hotel.region }} Region</p>
                                                    {% else %}
                                                        <h1>{{ object.title }}</h1>
                                                        <p><i class="fa fa-map-marker"></i> {{ object.location_address}}, {{ object.locality.name }} - {{ object.region }} Region</p>
                                                    {% endif %}
                                                {% else %}
                                                <h1>{{ object.title }}</h1>
                                                <p><i class="fa fa-map-marker"></i> {{ object.location_address}}, {{ object.locality.name }} - {{ object.region }} Region</p>
                                                {% endif %}
                                            </div><!--card-body end-->
                                            <div class="col-md2">
                                                {% if not object.logo %}
                                                <div class="rate-info">
                                                    <h5>&cent; {{ object.price|floatformat:2 }}</h5>
                                                    {% if not object.hotel %}
                                                        <span class="purpose-for-sale">For Sale</span>
                                                    {% endif %}
                                                </div><!--rate-info end-->
                                                {% endif %}
                                                <span class="favorites-actions">
                                                    {% if object.logo %}
                                                        {% if object.socialhandle.facebook %}
                                                        <span class="property-card-value">
                                                            <a href="{{object.socialhandle.facebook}}"><span class="field_name"><i class="fa fa-facebook"></i></span></a>
                                                        </span>
                                                        {% endif %}
                                                        {% if object.socialhandle.facebook %}
                                                        <span class="property-card-value">
                                                            <a href="{{object.socialhandle.instagram}}"><span class="field_name"><i class="fa fa-instagram"></i></span></a>
                                                        </span>
                                                        {% endif %}
                                                        {% if object.socialhandle.facebook %}
                                                        <span class="property-card-value">
                                                            <a href="{{object.socialhandle.linkedIn}}"><span class="field_name"><i class="fa fa-linkedin"></i></span></a>
                                                        </span>
                                                        {% endif %}
                                                        {% endif %}
                                                    </span>
                                                
                                                    <p class="mt-1"><i class="fa fa-eye"></i> {{ object.views }} views on this post </p>
                                                </div>
                                        </div>
                                        <hr>
                                        {% include 'details/info-contact.html' %}
                                    </div>
                                    {% if object.rate %}
                                    <div class="property-imgs">
                                        <div class="property-main-img">
                                            <!-- Slide 0 -->
                                            <div class="property-img">
                                                <img data-fullsrc="{{ object.imageURL }}" class="lozad" data-src="{{ object.imageURL }}" alt="{{ object.title }}">
                                            </div><!--property-img end-->
                                            <!-- Slide 1 -->
                                            {% for img in objectimages %}
                                                <div class="property-img">
                                                    <img data-fullsrc="{{ img.imageURL }}" class="lozad" data-src="{{ img.imageURL }}" alt="{{ img.title }}">
                                                </div>
                                            {%endfor%}
                                        </div><!--property-main-img end-->
                                        <div class="property-thumb-imgs">
                                            <div class="row thumb-carous">
                                                <!-- Slide 0 -->
                                                <div class="col-lg-2 col-md-2 col-sm-3 col-3 thumb-img">
                                                    <div class="property-img">
                                                        <img class="lozad" data-src="{{ object.imageURL }}" alt="{{ object.title }}">
                                                    </div><!--property-img end-->
                                                </div>
                                                <!-- Slide 1 -->
                                                {% for img in objectimages %}
                                                <div class="col-lg-2 col-md-2 col-sm-3 col-3 thumb-img">
                                                    <div class="property-img">
                                                        <img class="lozad" data-src="{{ img.imageURL}}" alt="{{ object.title }}">
                                                    </div><!--property-img end-->
                                                </div>
                                                {%endfor%}
                                            </div>
                                        </div><!--property-thumb-imgs end-->
                                    </div><!--property-imgs end-->
                                    {% endif %}
                                    {% if not object.logo %}
                                        {% include 'details/info-images.html' %}
                                    {% endif %}
                                    {% if  object.logo %}
                                    <div class="descp-text">
                                        <!-- <h3>Description</h3> -->
                                        <p>{{ object.description }}</p>
                                    </div>
                                        <div class="descp-text">
                                            <div class="row align-items-center justify-content-between panel__cardhead">
                                                <div class="sortby">
                                                    {% if  object.rate %}
                                                        {{object.hotel.all|length}} Rooms
                                                    {% else %}
                                                        {{object.realestate.all|length}} Property Units
                                                    {% endif %}
                                                </div><!--sortby end-->
                                            </div>
                                            <!--list-head end-->
                                            <div class="listings panel__cardbody row">
                                                <div class="list_products col-12 m-0 p-0">
                                                    <div class="row">
                                                    {% if  object.rate %}
                                                        {% for list in object.hotel.all %}
                                                            <div class="col-md-6 mb-3">
                                                                {% include 'includes/list.html' %}
                                                            </div>
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for list in object.realestate.all %}
                                                            <div class="col-md-6 mb-3">
                                                                {% include 'includes/list.html' %}
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--descp-text end-->
                                        
                                    {% endif %}

                                    {% if object.rate %}
                                    <div class="details-info">
                                        <h3 class=" CATEGORY">Amenities</h3>
                                        <ul>
                                            <li class="input-field option">
                                                <input type="checkbox" name="c22" 
                                                {% if object.free_parking %}
                                                checked="checked" 
                                                {% endif %}
                                                disabled="disabled" id="c22">
                                                <label for="c22">
                                                    <span></span>
                                                    <small>Free Parking</small>
                                                </label>
                                            </li>
                                            <li class="input-field option">
                                                <input type="checkbox" name="c23" {% if object.conference_facilities %}
                                                checked="checked" 
                                                {% endif %} disabled="disabled" id="c23">
                                                <label for="c23">
                                                    <span></span>
                                                    <small>Conference facilities</small>
                                                </label>
                                            </li>
                                            <li class="input-field option">
                                                <input type="checkbox" name="c23" {% if object.free_wiFi %}
                                                checked="checked" 
                                                {% endif %} disabled="disabled" id="c23">
                                                <label for="c23">
                                                    <span></span>
                                                    <small>Free High Speed Internet (WiFi)</small>
                                                </label>
                                            </li>
                                            <li class="input-field option">
                                                <input type="checkbox" name="c23" {% if object.pool %}
                                                checked="checked" 
                                                {% endif %} disabled="disabled" id="c23">
                                                <label for="c23">
                                                    <span></span>
                                                    <small>Pool</small>
                                                </label>
                                            </li>
                                            <li class="input-field option">
                                                <input type="checkbox" name="c23" {% if object.fitness_center %}
                                                checked="checked" 
                                                {% endif %} disabled="disabled" id="c23">
                                                <label for="c23">
                                                    <span></span>
                                                    <small>Fitness Center</small>
                                                </label>
                                            </li>
                                            <li class="input-field option">
                                                <input type="checkbox" name="c23" {% if object.free_breakfast %}
                                                checked="checked" 
                                                {% endif %} disabled="disabled" id="c23">
                                                <label for="c23">
                                                    <span></span>
                                                    <small>Free Breakfast</small>
                                                </label>
                                            </li>
                                            <li class="input-field option">
                                                <input type="checkbox" name="c23" {% if object.free_airport_transportation %}
                                                checked="checked" 
                                                {% endif %} disabled="disabled" id="c23">
                                                <label for="c23">
                                                    <span></span>
                                                    <small>Free Airport Transportation</small>
                                                </label>
                                            </li>
                                            <li class="input-field option">
                                                <input type="checkbox" name="c23" {% if object.bar_or_lounge %}
                                                checked="checked" 
                                                {% endif %} disabled="disabled" id="c23">
                                                <label for="c23">
                                                    <span></span>
                                                    <small>Bar Or Lounge</small>
                                                </label>
                                            </li>
                                        </ul>
                                        <br style="clear: both;">
                                    </div>
                                    {% endif %}
                                    {% if not object.rate %}
                                        {% if object.hotel %}
                                        <div class="details-info">
                                            <h3 class=" CATEGORY">Amenities</h3>
                                            <ul>
                                                <li class="input-field option">
                                                    <input type="checkbox" name="c22" 
                                                    {% if object.housekeeping %}
                                                    checked="checked" 
                                                    {% endif %}
                                                    disabled="disabled" id="c22">
                                                    <label for="c22">
                                                        <span></span>
                                                        <small>Housekeeping</small>
                                                    </label>
                                                </li>
                                                <li class="input-field option">
                                                    <input type="checkbox" name="c23" {% if object.refrigerator %}
                                                    checked="checked" 
                                                    {% endif %} disabled="disabled" id="c23">
                                                    <label for="c23">
                                                        <span></span>
                                                        <small>Refrigerator</small>
                                                    </label>
                                                </li>
                                                <li class="input-field option">
                                                    <input type="checkbox" name="c23" {% if object.flatscreen_tv %}
                                                    checked="checked" 
                                                    {% endif %} disabled="disabled" id="c23">
                                                    <label for="c23">
                                                        <span></span>
                                                        <small>Flatscreen TV</small>
                                                    </label>
                                                </li>
                                                <li class="input-field option">
                                                    <input type="checkbox" name="c23" {% if object.kitchenette %}
                                                    checked="checked" 
                                                    {% endif %} disabled="disabled" id="c23">
                                                    <label for="c23">
                                                        <span></span>
                                                        <small>Kitchenette</small>
                                                    </label>
                                                </li>
                                                <li class="input-field option">
                                                    <input type="checkbox" name="c23" {% if object.room_service %}
                                                    checked="checked" 
                                                    {% endif %} disabled="disabled" id="c23">
                                                    <label for="c23">
                                                        <span></span>
                                                        <small>Room Service</small>
                                                    </label>
                                                </li>
                                                <li class="input-field option">
                                                    <input type="checkbox" name="c23" {% if object.air_conditioning %}
                                                    checked="checked" 
                                                    {% endif %} disabled="disabled" id="c23">
                                                    <label for="c23">
                                                        <span></span>
                                                        <small>Air Conditioning</small>
                                                    </label>
                                                </li>
                                            </ul>
                                            <br style="clear: both;">
                                        </div>
                                        {% elif not object.logo %}
                                        <div class="details-info">
                                            <h3 class=" CATEGORY">Overview</h3>
                                            <ul>
                                                {% if object.category.title == 'land' %}
                                                    <li><h4>Area:</h4> <span>{{ object.landproperty.area }}Ft²</span></li>
                                                    <li><h4>Dimension:</h4> <span>{{ object.landproperty.dimension }}</span></li>
                                                {% else %}
                                                    <li><h4>Area:</h4> <span>{{ object.houseproperty.area }}Ft²</span></li>
                                                    <li><h4>Beds:</h4> <span>{{ object.houseproperty.bed }}</span></li>
                                                    <li><h4>Bathrooms:</h4> <span>{{ object.houseproperty.bath }}</span></li>
                                                    <li><h4>Garage:</h4> <span>{{ object.houseproperty.garage }}</span></li>
                                                {%endif%}
                                            </ul>
                                            <br style="clear: both;">
                                        </div>
    
                                         <!--details-info end-->
                                        <div class="details-info">
                                            <h3 class=" CATEGORY">Amenities {{object.amenities}}</h3>
                                            <ul>
                                                <li class="input-field option">
                                                    <input type="checkbox" name="c22" checked="checked" disabled="disabled" id="c22">
                                                    <label for="c22">
                                                        <span></span>
                                                        <small>Air conditioning</small>
                                                    </label>
                                                </li>
                                                <li class="input-field option">
                                                    <input type="checkbox" name="c23" checked="checked" disabled="disabled" id="c23">
                                                    <label for="c23">
                                                        <span></span>
                                                        <small>Cable TV</small>
                                                    </label>
                                                </li>
                                                <li class="input-field option">
                                                    <input type="checkbox" name="c29" checked="checked" disabled="disabled" id="c29">
                                                    <label for="c29">
                                                        <span></span>
                                                        <small>Internet</small>
                                                    </label>
                                                </li>
                                                <li class="input-field option">
                                                    <input type="checkbox" name="c31" checked="checked" disabled="disabled" id="c31">
                                                    <label for="c31">
                                                        <span></span>
                                                        <small>Microwave</small>
                                                    </label>
                                                </li>
                                            </ul>
                                            <br style="clear: both;">
                                        </div>
                                    {% endif %}
                                    
                                    {% endif %} 

                                    {% if region_list %}
                                    <div class="similar-listings-posts clearfix">
                                        <h3 class="col-12">Explore {{page_title}} in {{object.region}} region </h3>
                                        <div class="list-products">
                                            <div class="row">
                                                {%for list in region_list %}
                                                <div class="col-md-6">
                                                    {% include 'includes/list.html' %}
                                                </div>
                                                {%endfor%}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if property_list %}
                                    <div class="similar-listings-posts clearfix">
                                        <h3 class="col-12">Latest Properties in {{object.region}} region </h3>
                                        <div class="list-products">
                                            <div class="row">
                                                {%for list in property_list %}
                                                <div class="col-lg-4 col-md-6">
                                                    {% include 'includes/list.html' %}
                                                </div>
                                                {%endfor%}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if cars_list %}
                                    <div class="similar-listings-posts clearfix">
                                        <h3 class="col-12">Buy Cars in {{object.region}} region </h3>
                                        <div class="list-products">
                                            <div class="row">
                                                {%for list in cars_list %}
                                                <div class="col-lg-4 col-md-6">
                                                    {% include 'cars/car-list.html' %}
                                                </div>
                                                {%endfor%}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if school_list %}
                                    <div class="similar-listings-posts clearfix">
                                        <h3 class="col-12">Enroll in available Driving schools</h3>
                                        <div class="list-products">
                                            <div class="row">
                                                {%for list in school_list %}
                                                <div class="col-lg-4 col-md-6">
                                                    {% include 'cars/school-list.html' %}
                                                </div>
                                                {%endfor%}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    
                                </div>
                            </div><!--property-pg-left end-->
                        </div>
                    </div>  
                </div>

                <div class="col-lg-4 pr-0">
                    <div class="sidebar layout2">
                        {% include 'details/agent-info.html'%}
                        <div id="sw_win_contactform_widget-1" class="descp-text widget widget_sw_win_contactform_widget side"><h3 class="widget-title">Contact form</h3>
                            <div class="selio_sw_win_wrapper">
                                <div class="ci sw_widget sw_wrap">
                                    <div class="contact-agent widget-form" id="form">
                                        <form id="sw_contactform_sw_win_contactform_widget-1" method="post" action="#sw_contactform_sw_win_contactform_widget-1" class="box">
                                            <div class="box-container widget-body">
                                                <div class="form-field">
                                                    <input class="" id="fullname_sw_win_contactform_widget-1" name="fullname" type="text" value="" placeholder="Full name">
                                                </div>
                                                <div class="form-field">
                                                    <input class="" id="email_sw_win_contactform_widget-1" name="email" type="text" value="" placeholder="Your email">
                                                </div>
                                                <div class="form-field">
                                                    <input class="" id="phone_sw_win_contactform_widget-1" name="phone" type="text" value="" placeholder="Phone number">
                                                </div>
                                                <div class="form-field">
                                                    <input class="" id="subject_sw_win_contactform_widget-1" name="subject" type="text" value="" placeholder="Subject">
                                                </div>
                                                <div class="form-field">
                                                    <textarea id="message_sw_win_contactform_widget-1" name="message" rows="4" class="" placeholder="Message"></textarea>
                                                </div>
                                                <div class="form-field">
                                                    <button type="submit" class="btn2">Send</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% include 'includes/latest-listing.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock %}