{% extends 'base.html' %}
{% block messages %} {% endblock %}
{% load static %}
{% load humanize %}
{% block content %}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h3 class="h2">Privacy Policy</h3>
                    We know that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. This Privacy Notice describes how sandvet.com and its affiliates (collectively "Sandvet") collect and process your personal information through sandvet websites, devices, products, services, online and physical stores, and applications that reference this Privacy Notice (together "Sandvet Services"). By using Sandvet Services, you are consenting to the practices described in this Privacy Notice.<br><br>
                    <h3 class="h5">What Personal Information About Customers Does sandvet Collect?</h3>
                    We collect your personal information in order to provide and continually improve our products and services.Here are the types of personal information we collect:
                    <ul>
                        <li class="mb-3">
                            <h4>Information You Give Us</h4>
                            We receive and store any information you provide in relation to Sandvet Services. You can choose not to provide certain information, but then you might not be able to take advantage of many of our Sandvet Services.
                        </li>
                        <li class="mb-3">
                            <h4>Automatic Information</h4> We automatically collect and store certain types of information about your use of Sandvet Services, including information about your interaction with content and services available through Sandvet Services. Like many websites, we use "cookies" and other unique identifiers, and we obtain certain types of information when your web browser or device accesses Sandvet Services and other content served by or on behalf of sandvet on other websites. </li>
                        <li class="mb-3">
                            <h4>Information from Other Sources</h4> 
                            We might receive information about you from other sources, such as updated delivery and address information from our carriers, which we use to correct our records and deliver your next purchase more easily. 
                        </li>
                        <h2 class="h5">For What Purposes Does Sandvet Use Your Personal Information?</h2>
                        We use your personal information to operate, provide, develop, and improve the products and services that we offer our customers. These purposes include:<br><br>
                        <li class="mb-3">
                            <h4>Purchase and delivery of products and services</h4>
                            We use your personal information to take and handle orders, deliver products and services, process payments, and communicate with you about orders, products and services, and promotional offers.</li>
                        <li class="mb-3">
                            <h4>Provide, troubleshoot, and improve Sandvet Services</h4>
                            We use your personal information to provide functionality, analyze performance, fix errors, and improve the usability and effectiveness of the Sandvet Services.</li>
                        <li class="mb-3">
                            <h4>Recommendations and personalization</h4>
                            We use your personal information to recommend features, products, and services that might be of interest to you, identify your preferences, and personalize your experience with Sandvet Services.</li>
                        <li class="mb-3">
                            <h4>Provide voice, image and camera services</h4> 
                            When you use our voice, image and camera services, we use your voice input, images, videos, and other personal information to respond to your requests, provide the requested service to you, and improve our services. </li>
                        <li class="mb-3">
                            <h4>Comply with legal obligations</h4>
                            In certain cases, we collect and use your personal information to comply with laws. For instance, we collect from sellers information regarding place of establishment and bank account information for identity verification and other purposes.</li>
                        <li class="mb-3">
                            <h4>Communicate with you</h4>
                            We use your personal information to communicate with you in relation to Sandvet Services via different channels (e.g., by phone, email, chat).</li>
                        <li class="mb-3">
                            <h4>Advertising</h4>
                            We use your personal information to display interest-based ads for features, products, and services that might be of interest to you. We do not use information that personally identifies you to display interest-based ads. </li>
                            <br>
                        <h3 class="h5">Advertisement</h3>
                        <li class="mb-3">
                            <h4>Third-Party Advertisers and Links to Other Websites</h4> Sandvet Services may include third-party advertising and links to other websites and apps. Third-party advertising partners may collect information about you when you interact with their content, advertising, and services. </li>
                        </ul>
                        <h4>Use of Third-Party Advertising Services</h4>
                        We provide ad companies with information that allows them to serve you with more useful and relevant Sandvet ads and to measure their effectiveness. We never share your name or other information that directly identifies you when we do this. Instead, we use an advertising identifier like a cookie or other device identifier. For example, if you have already downloaded one of our apps, we will share your advertising identifier and data about that event so that you will not be served an ad to download the app again. Some ad companies also use this information to serve you relevant ads from other advertisers. 

                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}