{% extends 'base.html' %}
{% block messages %} {% endblock %}
{% load static %}
{% load humanize %}
{% block content %}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h3 class="h2">Privacy Policy</h3>
                    We know that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. This Privacy Notice describes how sandvet.com and its affiliates (collectively "Sandvet") collect and process your personal information through sandvet websites, devices, products, services, online and physical stores, and applications that reference this Privacy Notice (together "Sandvet Services"). By using Sandvet Services, you are consenting to the practices described in this Privacy Notice.<br><br>
                    <h3 class="h5">What Personal Information About Customers Does sandvet Collect?</h3>
                    We collect your personal information in order to provide and continually improve our products and services.Here are the types of personal information we collect:
                    <ul>
                            <li class="mb-3">1. Workers of sandvet will not call you demanding money before we post your products on our website. It is free
 
                            </li>
                            <li class="mb-3">2. Your information you share with us is safe and no third party will have access. Kindly go through our Privacy Policy
                            
                            </li>
                            <li class="mb-3">3. We prefer to end market face-to-face in an open place or online where necessary.
                            </li>
                            <li class="mb-3">4. Report any abuse from any worker, partners, or individuals on our emergency line, +233507321204 or through our email support@sandvet.com
                            
                            </li>
                            <li class="mb-3">5. Always beware of fraudsters who will want to tarnish the image of this company hence, we encourage customers to use the appropriate means to purchase a product from us.</li>

                        </ul>
                        <h4>Use of Third-Party Advertising Services</h4>
                        We provide ad companies with information that allows them to serve you with more useful and relevant Sandvet ads and to measure their effectiveness. We never share your name or other information that directly identifies you when we do this. Instead, we use an advertising identifier like a cookie or other device identifier. For example, if you have already downloaded one of our apps, we will share your advertising identifier and data about that event so that you will not be served an ad to download the app again. Some ad companies also use this information to serve you relevant ads from other advertisers. 

                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}