{% extends 'base.html' %}
{% block messages %} {% endblock %}
{% load static %}
{% load humanize %}
{% block content %}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h3 class="h2">Safety Tips</h3>
                    <ul>
                            <li class="mb-3">1. Workers of sandvet will not call you demanding money before we post your products on our website. It is free
 
                            </li>
                            <li class="mb-3">2. Your information you share with us is safe and no third party will have access. Kindly go through our Privacy Policy
                            
                            </li>
                            <li class="mb-3">3. We prefer to end market face-to-face in an open place or online where necessary.
                            </li>
                            <li class="mb-3">4. Report any abuse from any worker, partners, or individuals on our emergency line, +233507321204 or through our email support@sandvet.com
                            
                            </li>
                            <li class="mb-3">5. Always beware of fraudsters who will want to tarnish the image of this company hence, we encourage customers to use the appropriate means to purchase a product from us.</li>

                        </ul>

                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}