{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block messages %} {% endblock %}
{% block head_title %} {{ object.title }} {%endblock %} 
{% block content%}
<section class="property-single-pg mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="navigaiton card">
					<a class="navLinks" href="{% url 'core:index' %}">Home</a>
					<a class="navLinks" href="{% url 'cars:cars' %}" >Cars</a>
					<a class="navLinks">{{ object.title }}</a>
				</div>
            </div>
        </div>
        <!---property-hd-sec end-->
        <div class="property-single-page-content">
            <div class="row">
                <div class="col-lg-8 px-0 ">
                    <div class="selio_sw_win_wrapper">
                        <div class="ci sw_widget sw_wrap">
                            <div class="bootstrap-wrapper" id="listing-preview">
                                <div class="property-pg-left">
                                    <div class="property-hd-sec descp-text col-12">
                                        <div class="row justify-content-between">
                                            <div class="col-d-10">
                                                <h1 class="h3">{{ object.title }}</h1>
                                                <p><i class="fa fa-map-marker"></i> {{ object.locality }}, {{ object.region }} Region</p>
                                            </div>
                                            <div class="col-md2">
                                                <div class="rate-info">
                                                    <h5>&cent; {{ object.price|floatformat:2 }}</h5>
                                                    <span class="purpose-for-sale">For Sale</span>
                                                    <p><i class="fa fa-eye"></i> {{ object.views }} views on this post</p>
                                                </div><!--rate-info end-->
                                            </div>
                                        </div>
                                        <hr>
                                        {% include 'details/info-contact.html' %}
                                    </div>
                                   {% include 'details/info-images.html' %}
                                    <div class="details-info  car-widget-overview">
                                        <h3 class=" CATEGORY">Overview</h3>
                                        <ul>
                                            <li>
                                                <div></div>
                                                <div class="">
                                                <h4>Brand</h4> 
                                                <span>{{object.brand}}</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div></div>
                                                <div class="">
                                                <h4>Fuel type</h4> 
                                                <span>{{object.fuel_type}}</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div></div>
                                                <div class="">
                                                <h4>Engine</h4> 
                                                <span>{{object.engine}}</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div></div>
                                                <div class="">
                                                <h4>Mileage</h4> 
                                                <span>{{object.mileage}} KM</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div></div>
                                                <div class="">
                                                <h4>Condition</h4> 
                                                <span>{{object.car_state}}</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div></div>
                                                <div class="">
                                                <h4>Body Type</h4> 
                                                <span>{{object.car_type}}</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div></div>
                                                <div class="">
                                                <h4>Year</h4> 
                                                <span>{{object.year}}</span>
                                            </div>
                                            </li>
                                            <li>
                                                <div></div>
                                                <div class="">
                                                <h4>Drive Type</h4> 
                                                <span>{{object.drive_type}}</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div></div>
                                                <div class="">
                                                <h4>Air Con</h4> 
                                                <span>{{object.air_con}}</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div></div>
                                                <div class="col-12 p-0">
                                                    <h4>Air Con</h4> 
                                                    <span class="d-flex justify-content-between">
                                                        int    
                                                        <span class="color-span" style="background-color: {{object.int_color}};"></span>
                                                    </span>
                                                    <span class="d-flex justify-content-between">
                                                        ext    
                                                        <span class="color-span" style="background-color: {{object.ext_color}};"></span>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                        <br style="clear: both;">
                                    </div> <!--details-info end-->
                                    <div class="details-info  details-info-transparent" style="background-image: url({% static 'img/about/carousel-4.jpg' %});">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h3 class="m-0">Make cool cash selling with us</h3>
                                            <a href="#" class="btn2">Sell your car</a>
                                        </div>
                                    </div>
                                    {% if brand_lists %}
                                    <div class="similar-listings-posts clearfix">
                                        <h3 class="col-12">Buy Similar {{object.brand}} cars </h3>
                                        <div class="list-products">
                                            <div class="row">
                                                {%for list in brand_lists %}
                                                    <div class="col-lg-4 col-md-6">
                                                        {% include 'cars/car-list.html' %}
                                                    </div>
                                                {%endfor%}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if region_list %}
                                    <div class="similar-listings-posts clearfix">
                                        <h3 class="col-12">Buy cars in {{object.region}} region </h3>
                                        <div class="list-products">
                                            <div class="row">
                                                {%for list in region_list %}
                                                <div class="col-lg-4 col-md-6">
                                                    {% include 'cars/car-list.html' %}
                                                    </div>
                                                {%endfor%}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if spare_region_list %}
                                    <div class="similar-listings-posts clearfix">
                                        <h3 class="col-12">Buy Spare Parts in {{object.region}} region </h3>
                                        <div class="list-products">
                                            <div class="row">
                                                {%for list in spare_region_list %}
                                                <div class="col-lg-4 col-md-6">
                                                    {% include 'cars/spare-list.html' %}
                                                </div>
                                                {%endfor%}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if property_lists %}
                                    <div class="similar-listings-posts clearfix">
                                        <h3 class="col-12">Buy Property in {{object.region}} region</h3>
                                        <div class="list-products">
                                            <div class="row">
                                                {%for list in property_lists %}
                                                <div class="col-lg-4 col-md-6">
                                                    {% include 'includes/list.html' %}
                                                </div>
                                                {%endfor%}
                                            </div>
                                        </div>
                                    </div>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>

                <div class="col-lg-4 pr-0">
                    <div class="sidebar layout2">
                        {% include 'details/agent-info.html'%}
                        {% include 'details/form.html'%}
                        {% include 'includes/latest-listing.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock %}