{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% load static %}
{% block head_title %}{% endblock %}
{% block content %}

    

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <div class="navigaiton card">
                <a class="navLinks" href="{% url 'core:index' %}">Home</a>
                <a class="navLinks" href="{% url 'cars:cars' %}">Car</a>
                <a class="navLinks">{{ page_title }}</a>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        {% include 'cars/filter.html' %}
        <div class=" col-md-9">
            <div class="listing-directs py-3"> 
                <div class="col-12">
                    <div class="cars_grid">
                        <div class="row align-items-center justify-content-between panel__cardhead">
                            <div><h2>{{ car_count }} {{obj_brands.name}} Car(s)</h2></div>
                            <div class="view-change">
                                <ul class="nav nav-tabs sw-order-view">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link grid view-type active" data-ref="grid"><i class="fa fa-th-large"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link list view-type " data-ref="list"><i class="fa fa-th-list"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="listings panel__cardbody row">
                            <div class="list_products col-12 m-0 p-0">
                                <div class="row">
                                    {% for list in lists%}
                                    <div class="col-lg-4 col-md-6 cars"> 
                                        {% include 'cars/car-list.html' %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-12">
                                {% include 'includes/pagination.html' %}
                            </div>
                        </div><!--tab-content end-->
                    </div>
                </div>
            </div>  
            {%if property_list %}
            <div class="similar-listings-posts clearfix mt-3">
                <div class="col-12"><div class="row"><h3>Latest Property listings</h3></div></div>
                <div class="list-products">
                    <div class="row">
                        {%for list in property_list %}
                        <div class="col-lg-4 col-md-6">
                            {% include 'includes/list.html' %}
                            </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            {%endif%}
        </div>
    </div>
</div>  

{% include "includes/index/car-brands.html" %}
{% endblock %}