{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% load static %}
{% load humanize %}
{% block head_title %}{% endblock %}
{% block content %}
<section class="banner-partial banner-brands" style="background-image: url({% static 'img/core/banner-car-parts1.jpg' %});">
    <div class="container">
        <di class="row">
            <div class="col-md-11 mx-auto">
                <div class="title-sec">
                    <p>Best vehicle spare-parts market hub in Ghana.</p>
                </div>
                <div class="widget-property-search card mt-1 home-widget-search col-12 mx-auto">
                    <form action="{% url 'cars:spare-parts' %}" class="sparepartForm">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-11">
                                <div class="row ">
                                    {% for field in filter.form %}
                                    <div class="col-lg-3 border-col">
                                        {{ field|as_crispy_field }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary  btn-search"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </di>
    </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="navigaiton card col-12">
            <a class="navLinks" href="{% url 'core:index' %}">Home</a>
            <a class="navLinks" href="{% url 'cars:cars' %}" >Cars</a>
            <a class="navLinks">Spare Parts</a>
        </div>
    </div>
    <div class="row">
        <div class="similar-listings-posts clearfix mb-5 pb-5">
            <div class="col-12">
                <div class="row">
                    <h2 class="h2">Spare parts</h2>
                </div>
            </div>
            <div class="list-products">
                <div class="row">
                    {% for list in lists%}
                    <div class="col-lg-3 col-md-4 cars"> 
                        {% include 'cars/spare-list.html' %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12">
                {% include 'includes/pagination.html' %}
            </div>
        </div>
        <div class="similar-listings-posts clearfix mt-3">
            <div class="col-12"><div class="row"><h3>Latest Property listings</h3></div></div>
            <div class="list-products">
                <div class="row">
                    {%for list in property_list %}
                        <div class="col-lg-3 col-md-4">
                            {% include 'includes/list.html' %}
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>  

{% include "includes/index/car-brands.html" %}
{% endblock %}